In [1]:
import pandas as pd

## Aggregating the data

In [2]:
data_old = pd.read_csv("../COVID-19 Data/covid_19_clean_complete.csv")
data_old

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.000000,65.000000,1/22/20,0,0,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0,0
...,...,...,...,...,...,...,...,...
27451,NaN,Western Sahara,24.215500,-12.885800,05-04-20,6,0,5
27452,NaN,Sao Tome and Principe,0.186360,6.613081,05-04-20,23,3,4
27453,NaN,Yemen,15.552727,48.516388,05-04-20,12,2,0
27454,NaN,Comoros,-11.645500,43.333300,05-04-20,3,0,0
27455,NaN,Tajikistan,38.861034,71.276093,05-04-20,230,3,0

In [3]:
data_1 = data_old.drop([data_old.columns[0], data_old.columns[2], data_old.columns[3]], axis=1)
data_1

              Country/Region      Date  Confirmed  Deaths  Recovered
0                Afghanistan   1/22/20          0       0          0
1                    Albania   1/22/20          0       0          0
2                    Algeria   1/22/20          0       0          0
3                    Andorra   1/22/20          0       0          0
4                     Angola   1/22/20          0       0          0
...                      ...       ...        ...     ...        ...
27451         Western Sahara  05-04-20          6       0          5
27452  Sao Tome and Principe  05-04-20         23       3          4
27453                  Yemen  05-04-20         12       2          0
27454                Comoros  05-04-20          3       0          0
27455             Tajikistan  05-04-20        230       3          0

[27456 rows x 5 columns]

In [4]:
data_1.nunique()

Country/Region     187
Date               104
Confirmed         3707
Deaths            1163
Recovered         2009
dtype: int64

In [5]:
data_new = data_1.groupby([data_1.columns[0], data_1.columns[1]], axis=0, sort=False).sum()

In [6]:
data_new

                                Confirmed  Deaths  Recovered
Country/Region        Date
Afghanistan           1/22/20           0       0          0
Albania               1/22/20           0       0          0
Algeria               1/22/20           0       0          0
Andorra               1/22/20           0       0          0
Angola                1/22/20           0       0          0
...                                   ...     ...        ...
Western Sahara        05-04-20          6       0          5
Sao Tome and Principe 05-04-20         23       3          4
Yemen                 05-04-20         12       2          0
Comoros               05-04-20          3       0          0
Tajikistan            05-04-20        230       3          0

[19448 rows x 3 columns]

In [7]:
data_new.to_csv("../COVID-19 Data/data_reformed.csv")

# Loading Aggregated Data

In [8]:
# Aggregated data from github
data_agg = pd.read_csv("../COVID-19 Data/data_aggregated.csv")
data_agg

             Date             Country  Confirmed  Recovered  Deaths
0      2020-01-22         Afghanistan          0          0       0
1      2020-01-22             Albania          0          0       0
2      2020-01-22             Algeria          0          0       0
3      2020-01-22             Andorra          0          0       0
4      2020-01-22              Angola          0          0       0
...           ...                 ...        ...        ...     ...
21239  2020-05-13  West Bank and Gaza        375        310       2
21240  2020-05-13      Western Sahara          6          6       0
21241  2020-05-13               Yemen         70          1      12
21242  2020-05-13              Zambia        446        124       7
21243  2020-05-13            Zimbabwe         37         12       4

[21244 rows x 5 columns]

In [9]:
# Extracting needed column names 
date_index = data_agg.columns[0]
country = data_agg.columns[1]

countries = list(dict.fromkeys(data_agg[country]))
dates = list(dict.fromkeys(data_agg.loc[:, date_index]))
dates

['2020-01-22',
 '2020-01-23',
 '2020-01-24',
 '2020-01-25',
 '2020-01-26',
 '2020-01-27',
 '2020-01-28',
 '2020-01-29',
 '2020-01-30',
 '2020-01-31',
 '2020-02-01',
 '2020-02-02',
 '2020-02-03',
 '2020-02-04',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-08',
 '2020-02-09',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-15',
 '2020-02-16',
 '2020-02-17',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-22',
 '2020-02-23',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-02-29',
 '2020-03-01',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-07',
 '2020-03-08',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-14',
 '2020-03-15',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-21',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-04',
 '2020-04-05',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-11',
 '2020-04-12',
 '2020-04-13',
 '2020-04-14',
 '2020-04-15',
 '2020-04-16',
 '2020-04-17',
 '2020-04-18',
 '2020-04-19',
 '2020-04-20',
 '2020-04-21',
 '2020-04-22',
 '2020-04-23',
 '2020-04-24',
 '2020-04-25',
 '2020-04-26',
 '2020-04-27',
 '2020-04-28',
 '2020-04-29',
 '2020-04-30',
 '2020-05-01',
 '2020-05-02',
 '2020-05-03',
 '2020-05-04',
 '2020-05-05',
 '2020-05-06',
 '2020-05-07',
 '2020-05-08',
 '2020-05-09',
 '2020-05-10',
 '2020-05-11',
 '2020-05-12',
 '2020-05-13']

In [10]:
countries

['Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Diamond Princess',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Korea, South',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'MS Zaandam',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan*',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'US',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

## Sorting Each day of the records

In [11]:
# Sorting each date on it`s own 
sorteddata = data_agg[data_agg[date_index].str.contains(dates[0])].sort_values(by=list(data_agg.columns[2:]), ascending= False)
sorteddata

           Date             Country  Confirmed  Recovered  Deaths
36   2020-01-22               China        548         28      17
87   2020-01-22               Japan          2          0       0
168  2020-01-22            Thailand          2          0       0
91   2020-01-22        Korea, South          1          0       0
165  2020-01-22             Taiwan*          1          0       0
..          ...                 ...        ...        ...     ...
183  2020-01-22  West Bank and Gaza          0          0       0
184  2020-01-22      Western Sahara          0          0       0
185  2020-01-22               Yemen          0          0       0
186  2020-01-22              Zambia          0          0       0
187  2020-01-22            Zimbabwe          0          0       0

[188 rows x 5 columns]

In [12]:
dates.remove(dates[0])
dates

['2020-01-23',
 '2020-01-24',
 '2020-01-25',
 '2020-01-26',
 '2020-01-27',
 '2020-01-28',
 '2020-01-29',
 '2020-01-30',
 '2020-01-31',
 '2020-02-01',
 '2020-02-02',
 '2020-02-03',
 '2020-02-04',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-08',
 '2020-02-09',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-15',
 '2020-02-16',
 '2020-02-17',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-22',
 '2020-02-23',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-02-29',
 '2020-03-01',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-07',
 '2020-03-08',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-14',
 '2020-03-15',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-21',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-04',
 '2020-04-05',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-11',
 '2020-04-12',
 '2020-04-13',
 '2020-04-14',
 '2020-04-15',
 '2020-04-16',
 '2020-04-17',
 '2020-04-18',
 '2020-04-19',
 '2020-04-20',
 '2020-04-21',
 '2020-04-22',
 '2020-04-23',
 '2020-04-24',
 '2020-04-25',
 '2020-04-26',
 '2020-04-27',
 '2020-04-28',
 '2020-04-29',
 '2020-04-30',
 '2020-05-01',
 '2020-05-02',
 '2020-05-03',
 '2020-05-04',
 '2020-05-05',
 '2020-05-06',
 '2020-05-07',
 '2020-05-08',
 '2020-05-09',
 '2020-05-10',
 '2020-05-11',
 '2020-05-12',
 '2020-05-13']

In [13]:
for date in dates :
    srtdata = data_agg[data_agg[date_index].str.contains(date)].sort_values(by=list(data_agg.columns[2:]), ascending= False)
    print(srtdata)
    sorteddata = pd.concat([sorteddata, srtdata])

           Date             Country  Confirmed  Recovered  Deaths
224  2020-01-23               China        643         30      18
356  2020-01-23            Thailand          3          0       0
275  2020-01-23               Japan          2          0       0
370  2020-01-23             Vietnam          2          0       0
279  2020-01-23        Korea, South          1          0       0
..          ...                 ...        ...        ...     ...
371  2020-01-23  West Bank and Gaza          0          0       0
372  2020-01-23      Western Sahara          0          0       0
373  2020-01-23               Yemen          0          0       0
374  2020-01-23              Zambia          0          0       0
375  2020-01-23            Zimbabwe          0          0       0

[188 rows x 5 columns]
           Date             Country  Confirmed  Recovered  Deaths
412  2020-01-24               China        920         36      26
544  2020-01-24            Thailand          5          0       0
528  2020-01-24           Singapore          3          0       0
541  2020-01-24             Taiwan*          3          0       0
438  2020-01-24              France          2          0       0
..          ...                 ...        ...        ...     ...
559  2020-01-24  West Bank and Gaza          0          0       0
560  2020-01-24      Western Sahara          0          0       0
561  2020-01-24               Yemen          0          0       0
562  2020-01-24              Zambia          0          0       0
563  2020-01-24            Zimbabwe          0          0       0

[188 rows x 5 columns]
           Date             Country  Confirmed  Recovered  Deaths
600  2020-01-25               China       1406         39      42
732  2020-01-25            Thailand          7          0       0
626  2020-01-25              France          3          0       0
671  2020-01-25            Malaysia          3          0       0
716  2020-01-25           Singapore          3          0       0
..          ...                 ...        ...        ...     ...
747  2020-01-25  West Bank and Gaza          0          0       0
748  2020-01-25      Western Sahara          0          0       0
749  2020-01-25               Yemen          0          0       0
750  2020-01-25              Zambia          0          0       0
751  2020-01-25            Zimbabwe          0          0       0

[188 rows x 5 columns]
           Date             Country  Confirmed  Recovered  Deaths
788  2020-01-26               China       2075         49      56
920  2020-01-26            Thailand          8          2       0
926  2020-01-26                  US          5          0       0
839  2020-01-26               Japan          4          1       0
760  2020-01-26           Australia          4          0       0
..          ...                 ...        ...        ...     ...
935  2020-01-26  West Bank and Gaza          0          0       0
936  2020-01-26      Western Sahara          0          0       0
937  2020-01-26               Yemen          0          0       0
938  2020-01-26              Zambia          0          0       0
939  2020-01-26            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
976   2020-01-27               China       2877         58      82
1108  2020-01-27            Thailand          8          2       0
948   2020-01-27           Australia          5          0       0
1092  2020-01-27           Singapore          5          0       0
1105  2020-01-27             Taiwan*          5          0       0
...          ...                 ...        ...        ...     ...
1123  2020-01-27  West Bank and Gaza          0          0       0
1124  2020-01-27      Western Sahara          0          0       0
1125  2020-01-27               Yemen          0          0       0
1126  2020-01-27              Zambia          0          0       0
1127  2020-01-27            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
1164  2020-01-28               China       5509        101     131
1296  2020-01-28            Thailand         14          5       0
1293  2020-01-28             Taiwan*          8          0       0
1215  2020-01-28               Japan          7          1       0
1280  2020-01-28           Singapore          7          0       0
...          ...                 ...        ...        ...     ...
1311  2020-01-28  West Bank and Gaza          0          0       0
1312  2020-01-28      Western Sahara          0          0       0
1313  2020-01-28               Yemen          0          0       0
1314  2020-01-28              Zambia          0          0       0
1315  2020-01-28            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
1352  2020-01-29               China       6087        120     133
1484  2020-01-29            Thailand         14          5       0
1481  2020-01-29             Taiwan*          8          0       0
1403  2020-01-29               Japan          7          1       0
1423  2020-01-29            Malaysia          7          0       0
...          ...                 ...        ...        ...     ...
1499  2020-01-29  West Bank and Gaza          0          0       0
1500  2020-01-29      Western Sahara          0          0       0
1501  2020-01-29               Yemen          0          0       0
1502  2020-01-29              Zambia          0          0       0
1503  2020-01-29            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
1540  2020-01-30               China       8141        135     171
1672  2020-01-30            Thailand         14          5       0
1591  2020-01-30               Japan         11          1       0
1656  2020-01-30           Singapore         10          0       0
1512  2020-01-30           Australia          9          2       0
...          ...                 ...        ...        ...     ...
1687  2020-01-30  West Bank and Gaza          0          0       0
1688  2020-01-30      Western Sahara          0          0       0
1689  2020-01-30               Yemen          0          0       0
1690  2020-01-30              Zambia          0          0       0
1691  2020-01-30            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
1728  2020-01-31               China       9802        214     213
1860  2020-01-31            Thailand         19          5       0
1779  2020-01-31               Japan         15          1       0
1844  2020-01-31           Singapore         13          0       0
1783  2020-01-31        Korea, South         11          0       0
...          ...                 ...        ...        ...     ...
1875  2020-01-31  West Bank and Gaza          0          0       0
1876  2020-01-31      Western Sahara          0          0       0
1877  2020-01-31               Yemen          0          0       0
1878  2020-01-31              Zambia          0          0       0
1879  2020-01-31            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
1916  2020-02-01               China      11891        275     259
1967  2020-02-01               Japan         20          1       0
2048  2020-02-01            Thailand         19          5       0
2032  2020-02-01           Singapore         16          0       0
1888  2020-02-01           Australia         12          2       0
...          ...                 ...        ...        ...     ...
2063  2020-02-01  West Bank and Gaza          0          0       0
2064  2020-02-01      Western Sahara          0          0       0
2065  2020-02-01               Yemen          0          0       0
2066  2020-02-01              Zambia          0          0       0
2067  2020-02-01            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
2104  2020-02-02               China      16630        463     361
2155  2020-02-02               Japan         20          1       0
2236  2020-02-02            Thailand         19          5       0
2220  2020-02-02           Singapore         18          0       0
2159  2020-02-02        Korea, South         15          0       0
...          ...                 ...        ...        ...     ...
2251  2020-02-02  West Bank and Gaza          0          0       0
2252  2020-02-02      Western Sahara          0          0       0
2253  2020-02-02               Yemen          0          0       0
2254  2020-02-02              Zambia          0          0       0
2255  2020-02-02            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
2292  2020-02-03               China      19716        614     425
2343  2020-02-03               Japan         20          1       0
2424  2020-02-03            Thailand         19          5       0
2408  2020-02-03           Singapore         18          0       0
2347  2020-02-03        Korea, South         15          0       0
...          ...                 ...        ...        ...     ...
2439  2020-02-03  West Bank and Gaza          0          0       0
2440  2020-02-03      Western Sahara          0          0       0
2441  2020-02-03               Yemen          0          0       0
2442  2020-02-03              Zambia          0          0       0
2443  2020-02-03            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
2480  2020-02-04               China      23707        843     491
2612  2020-02-04            Thailand         25          5       0
2596  2020-02-04           Singapore         24          0       0
2531  2020-02-04               Japan         22          1       0
2535  2020-02-04        Korea, South         16          0       0
...          ...                 ...        ...        ...     ...
2627  2020-02-04  West Bank and Gaza          0          0       0
2628  2020-02-04      Western Sahara          0          0       0
2629  2020-02-04               Yemen          0          0       0
2630  2020-02-04              Zambia          0          0       0
2631  2020-02-04            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
2668  2020-02-05               China      27440       1115     563
2784  2020-02-05           Singapore         28          0       0
2800  2020-02-05            Thailand         25          5       0
2719  2020-02-05               Japan         22          1       0
2723  2020-02-05        Korea, South         19          0       0
...          ...                 ...        ...        ...     ...
2815  2020-02-05  West Bank and Gaza          0          0       0
2816  2020-02-05      Western Sahara          0          0       0
2817  2020-02-05               Yemen          0          0       0
2818  2020-02-05              Zambia          0          0       0
2819  2020-02-05            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
2856  2020-02-06               China      30587       1477     633
2972  2020-02-06           Singapore         28          0       0
2988  2020-02-06            Thailand         25          5       0
2911  2020-02-06        Korea, South         23          0       0
2907  2020-02-06               Japan         22          1       0
...          ...                 ...        ...        ...     ...
3003  2020-02-06  West Bank and Gaza          0          0       0
3004  2020-02-06      Western Sahara          0          0       0
3005  2020-02-06               Yemen          0          0       0
3006  2020-02-06              Zambia          0          0       0
3007  2020-02-06            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
3044  2020-02-07               China      34110       1999     718
3056  2020-02-07    Diamond Princess         61          0       0
3160  2020-02-07           Singapore         30          0       0
3176  2020-02-07            Thailand         25          5       0
3095  2020-02-07               Japan         25          1       0
...          ...                 ...        ...        ...     ...
3191  2020-02-07  West Bank and Gaza          0          0       0
3192  2020-02-07      Western Sahara          0          0       0
3193  2020-02-07               Yemen          0          0       0
3194  2020-02-07              Zambia          0          0       0
3195  2020-02-07            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
3232  2020-02-08               China      36814       2596     805
3244  2020-02-08    Diamond Princess         61          0       0
3348  2020-02-08           Singapore         33          2       0
3364  2020-02-08            Thailand         32         10       0
3283  2020-02-08               Japan         25          1       0
...          ...                 ...        ...        ...     ...
3379  2020-02-08  West Bank and Gaza          0          0       0
3380  2020-02-08      Western Sahara          0          0       0
3381  2020-02-08               Yemen          0          0       0
3382  2020-02-08              Zambia          0          0       0
3383  2020-02-08            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
3420  2020-02-09               China      39829       3219     905
3432  2020-02-09    Diamond Princess         64          0       0
3536  2020-02-09           Singapore         40          2       0
3552  2020-02-09            Thailand         32         10       0
3471  2020-02-09               Japan         26          1       0
...          ...                 ...        ...        ...     ...
3567  2020-02-09  West Bank and Gaza          0          0       0
3568  2020-02-09      Western Sahara          0          0       0
3569  2020-02-09               Yemen          0          0       0
3570  2020-02-09              Zambia          0          0       0
3571  2020-02-09            Zimbabwe          0          0       0

[188 rows x 5 columns]

            Date             Country  Confirmed  Recovered  Deaths
3608  2020-02-10               China      42354       3918    1012
3620  2020-02-10    Diamond Princess        135          0       0
3724  2020-02-10           Singapore         45          2       0
3740  2020-02-10            Thailand         32         10       0
3663  2020-02-10        Korea, South         27          3       0
...          ...                 ...        ...        ...     ...
3755  2020-02-10  West Bank and Gaza          0          0       0
3756  2020-02-10      Western Sahara          0          0       0
3757  2020-02-10               Yemen          0          0       0
3758  2020-02-10              Zambia          0          0       0
3759  2020-02-10            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
3796  2020-02-11               China      44386       4636    1112
3808  2020-02-11    Diamond Princess        135          0       0
3912  2020-02-11           Singapore         47          9       0
3928  2020-02-11            Thailand         33         10       0
3851  2020-02-11        Korea, South         28          3       0
...          ...                 ...        ...        ...     ...
3943  2020-02-11  West Bank and Gaza          0          0       0
3944  2020-02-11      Western Sahara          0          0       0
3945  2020-02-11               Yemen          0          0       0
3946  2020-02-11              Zambia          0          0       0
3947  2020-02-11            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
3984  2020-02-12               China      44759       5082    1117
3996  2020-02-12    Diamond Princess        175          0       0
4100  2020-02-12           Singapore         50         15       0
4116  2020-02-12            Thailand         33         10       0
4035  2020-02-12               Japan         28          9       0
...          ...                 ...        ...        ...     ...
4131  2020-02-12  West Bank and Gaza          0          0       0
4132  2020-02-12      Western Sahara          0          0       0
4133  2020-02-12               Yemen          0          0       0
4134  2020-02-12              Zambia          0          0       0
4135  2020-02-12            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
4172  2020-02-13               China      59895       6217    1369
4184  2020-02-13    Diamond Princess        175          0       0
4288  2020-02-13           Singapore         58         15       0
4304  2020-02-13            Thailand         33         12       0
4223  2020-02-13               Japan         28          9       1
...          ...                 ...        ...        ...     ...
4319  2020-02-13  West Bank and Gaza          0          0       0
4320  2020-02-13      Western Sahara          0          0       0
4321  2020-02-13               Yemen          0          0       0
4322  2020-02-13              Zambia          0          0       0
4323  2020-02-13            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
4360  2020-02-14               China      66358       7977    1521
4372  2020-02-14    Diamond Princess        218          0       0
4476  2020-02-14           Singapore         67         17       0
4492  2020-02-14            Thailand         33         12       0
4411  2020-02-14               Japan         29          9       1
...          ...                 ...        ...        ...     ...
4507  2020-02-14  West Bank and Gaza          0          0       0
4508  2020-02-14      Western Sahara          0          0       0
4509  2020-02-14               Yemen          0          0       0
4510  2020-02-14              Zambia          0          0       0
4511  2020-02-14            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
4548  2020-02-15               China      68413       9298    1663
4560  2020-02-15    Diamond Princess        285          0       0
4664  2020-02-15           Singapore         72         18       0
4599  2020-02-15               Japan         43         12       1
4680  2020-02-15            Thailand         33         12       0
...          ...                 ...        ...        ...     ...
4695  2020-02-15  West Bank and Gaza          0          0       0
4696  2020-02-15      Western Sahara          0          0       0
4697  2020-02-15               Yemen          0          0       0
4698  2020-02-15              Zambia          0          0       0
4699  2020-02-15            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
4736  2020-02-16               China      70513      10755    1766
4748  2020-02-16    Diamond Princess        355          0       0
4852  2020-02-16           Singapore         75         18       0
4787  2020-02-16               Japan         59         12       1
4868  2020-02-16            Thailand         34         14       0
...          ...                 ...        ...        ...     ...
4883  2020-02-16  West Bank and Gaza          0          0       0
4884  2020-02-16      Western Sahara          0          0       0
4885  2020-02-16               Yemen          0          0       0
4886  2020-02-16              Zambia          0          0       0
4887  2020-02-16            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
4924  2020-02-17               China      72434      12462    1864
4936  2020-02-17    Diamond Princess        454          0       0
5040  2020-02-17           Singapore         77         24       0
4975  2020-02-17               Japan         66         12       1
5056  2020-02-17            Thailand         35         15       0
...          ...                 ...        ...        ...     ...
5071  2020-02-17  West Bank and Gaza          0          0       0
5072  2020-02-17      Western Sahara          0          0       0
5073  2020-02-17               Yemen          0          0       0
5074  2020-02-17              Zambia          0          0       0
5075  2020-02-17            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
5112  2020-02-18               China      74211      14206    2003
5124  2020-02-18    Diamond Princess        542          0       0
5228  2020-02-18           Singapore         81         29       0
5163  2020-02-18               Japan         74         13       1
5244  2020-02-18            Thailand         35         15       0
...          ...                 ...        ...        ...     ...
5259  2020-02-18  West Bank and Gaza          0          0       0
5260  2020-02-18      Western Sahara          0          0       0
5261  2020-02-18               Yemen          0          0       0
5262  2020-02-18              Zambia          0          0       0
5263  2020-02-18            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
5300  2020-02-19               China      74619      15962    2116
5312  2020-02-19    Diamond Princess        621          1       0
5416  2020-02-19           Singapore         84         34       0
5351  2020-02-19               Japan         84         18       1
5432  2020-02-19            Thailand         35         15       0
...          ...                 ...        ...        ...     ...
5447  2020-02-19  West Bank and Gaza          0          0       0
5448  2020-02-19      Western Sahara          0          0       0
5449  2020-02-19               Yemen          0          0       0
5450  2020-02-19              Zambia          0          0       0
5451  2020-02-19            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
5488  2020-02-20               China      75077      18014    2238
5500  2020-02-20    Diamond Princess        634          1       2
5543  2020-02-20        Korea, South        104         16       1
5539  2020-02-20               Japan         94         18       1
5604  2020-02-20           Singapore         84         34       0
...          ...                 ...        ...        ...     ...
5635  2020-02-20  West Bank and Gaza          0          0       0
5636  2020-02-20      Western Sahara          0          0       0
5637  2020-02-20               Yemen          0          0       0
5638  2020-02-20              Zambia          0          0       0
5639  2020-02-20            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
5676  2020-02-21               China      75550      18704    2238
5688  2020-02-21    Diamond Princess        634          1       2
5731  2020-02-21        Korea, South        204         16       2
5727  2020-02-21               Japan        105         22       1
5792  2020-02-21           Singapore         85         37       0
...          ...                 ...        ...        ...     ...
5823  2020-02-21  West Bank and Gaza          0          0       0
5824  2020-02-21      Western Sahara          0          0       0
5825  2020-02-21               Yemen          0          0       0
5826  2020-02-21              Zambia          0          0       0
5827  2020-02-21            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
5864  2020-02-22               China      77001      22699    2443
5876  2020-02-22    Diamond Princess        634          1       2
5919  2020-02-22        Korea, South        433         16       2
5915  2020-02-22               Japan        122         22       1
5980  2020-02-22           Singapore         85         37       0
...          ...                 ...        ...        ...     ...
6011  2020-02-22  West Bank and Gaza          0          0       0
6012  2020-02-22      Western Sahara          0          0       0
6013  2020-02-22               Yemen          0          0       0
6014  2020-02-22              Zambia          0          0       0
6015  2020-02-22            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
6052  2020-02-23               China      77022      23187    2445
6064  2020-02-23    Diamond Princess        691          0       3
6107  2020-02-23        Korea, South        602         18       6
6101  2020-02-23               Italy        155          2       3
6103  2020-02-23               Japan        147         22       1
...          ...                 ...        ...        ...     ...
6199  2020-02-23  West Bank and Gaza          0          0       0
6200  2020-02-23      Western Sahara          0          0       0
6201  2020-02-23               Yemen          0          0       0
6202  2020-02-23              Zambia          0          0       0
6203  2020-02-23            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
6240  2020-02-24               China      77241      25015    2595
6295  2020-02-24        Korea, South        833         18       8
6252  2020-02-24    Diamond Princess        691          0       3
6289  2020-02-24               Italy        229          1       7
6291  2020-02-24               Japan        159         22       1
...          ...                 ...        ...        ...     ...
6387  2020-02-24  West Bank and Gaza          0          0       0
6388  2020-02-24      Western Sahara          0          0       0
6389  2020-02-24               Yemen          0          0       0
6390  2020-02-24              Zambia          0          0       0
6391  2020-02-24            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
6428  2020-02-25               China      77754      27676    2665
6483  2020-02-25        Korea, South        977         22      10
6440  2020-02-25    Diamond Princess        691          0       3
6477  2020-02-25               Italy        322          1      10
6479  2020-02-25               Japan        170         22       1
...          ...                 ...        ...        ...     ...
6575  2020-02-25  West Bank and Gaza          0          0       0
6576  2020-02-25      Western Sahara          0          0       0
6577  2020-02-25               Yemen          0          0       0
6578  2020-02-25              Zambia          0          0       0
6579  2020-02-25            Zimbabwe          0          0       0

[188 rows x 5 columns]

            Date             Country  Confirmed  Recovered  Deaths
6616  2020-02-26               China      78166      30084    2717
6671  2020-02-26        Korea, South       1261         22      12
6628  2020-02-26    Diamond Princess        705         10       4
6665  2020-02-26               Italy        453          3      12
6667  2020-02-26               Japan        189         22       2
...          ...                 ...        ...        ...     ...
6763  2020-02-26  West Bank and Gaza          0          0       0
6764  2020-02-26      Western Sahara          0          0       0
6765  2020-02-26               Yemen          0          0       0
6766  2020-02-26              Zambia          0          0       0
6767  2020-02-26            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
6804  2020-02-27               China      78600      32930    2746
6859  2020-02-27        Korea, South       1766         22      13
6816  2020-02-27    Diamond Princess        705         10       4
6853  2020-02-27               Italy        655         45      17
6849  2020-02-27                Iran        245         49      26
...          ...                 ...        ...        ...     ...
6951  2020-02-27  West Bank and Gaza          0          0       0
6952  2020-02-27      Western Sahara          0          0       0
6953  2020-02-27               Yemen          0          0       0
6954  2020-02-27              Zambia          0          0       0
6955  2020-02-27            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
6992  2020-02-28               China      78928      36329    2790
7047  2020-02-28        Korea, South       2337         22      13
7041  2020-02-28               Italy        888         46      21
7004  2020-02-28    Diamond Princess        705         10       6
7037  2020-02-28                Iran        388         73      34
...          ...                 ...        ...        ...     ...
7139  2020-02-28  West Bank and Gaza          0          0       0
7140  2020-02-28      Western Sahara          0          0       0
7141  2020-02-28               Yemen          0          0       0
7142  2020-02-28              Zambia          0          0       0
7143  2020-02-28            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7180  2020-02-29               China      79356      39320    2837
7235  2020-02-29        Korea, South       3150         27      16
7229  2020-02-29               Italy       1128         46      29
7192  2020-02-29    Diamond Princess        705         10       6
7225  2020-02-29                Iran        593        123      43
...          ...                 ...        ...        ...     ...
7327  2020-02-29  West Bank and Gaza          0          0       0
7328  2020-02-29      Western Sahara          0          0       0
7329  2020-02-29               Yemen          0          0       0
7330  2020-02-29              Zambia          0          0       0
7331  2020-02-29            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7368  2020-03-01               China      79932      42162    2872
7423  2020-03-01        Korea, South       3736         30      17
7417  2020-03-01               Italy       1694         83      34
7413  2020-03-01                Iran        978        175      54
7380  2020-03-01    Diamond Princess        705         10       6
...          ...                 ...        ...        ...     ...
7515  2020-03-01  West Bank and Gaza          0          0       0
7516  2020-03-01      Western Sahara          0          0       0
7517  2020-03-01               Yemen          0          0       0
7518  2020-03-01              Zambia          0          0       0
7519  2020-03-01            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7556  2020-03-02               China      80136      44854    2914
7611  2020-03-02        Korea, South       4335         30      28
7605  2020-03-02               Italy       2036        149      52
7601  2020-03-02                Iran       1501        291      66
7568  2020-03-02    Diamond Princess        705         10       6
...          ...                 ...        ...        ...     ...
7703  2020-03-02  West Bank and Gaza          0          0       0
7704  2020-03-02      Western Sahara          0          0       0
7705  2020-03-02               Yemen          0          0       0
7706  2020-03-02              Zambia          0          0       0
7707  2020-03-02            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7744  2020-03-03               China      80261      47450    2947
7799  2020-03-03        Korea, South       5186         30      28
7793  2020-03-03               Italy       2502        160      79
7789  2020-03-03                Iran       2336        291      77
7756  2020-03-03    Diamond Princess        706         10       6
...          ...                 ...        ...        ...     ...
7891  2020-03-03  West Bank and Gaza          0          0       0
7892  2020-03-03      Western Sahara          0          0       0
7893  2020-03-03               Yemen          0          0       0
7894  2020-03-03              Zambia          0          0       0
7895  2020-03-03            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7932  2020-03-04               China      80386      50001    2983
7987  2020-03-04        Korea, South       5621         41      35
7981  2020-03-04               Italy       3089        276     107
7977  2020-03-04                Iran       2922        552      92
7944  2020-03-04    Diamond Princess        706         10       6
...          ...                 ...        ...        ...     ...
8079  2020-03-04  West Bank and Gaza          0          0       0
8080  2020-03-04      Western Sahara          0          0       0
8081  2020-03-04               Yemen          0          0       0
8082  2020-03-04              Zambia          0          0       0
8083  2020-03-04            Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date           Country  Confirmed  Recovered  Deaths
8120  2020-03-05             China      80537      52292    3015
8175  2020-03-05      Korea, South       6088         41      35
8169  2020-03-05             Italy       3858        414     148
8165  2020-03-05              Iran       3513        739     107
8132  2020-03-05  Diamond Princess        706         10       6
...          ...               ...        ...        ...     ...
8265  2020-03-05         Venezuela          0          0       0
8268  2020-03-05    Western Sahara          0          0       0
8269  2020-03-05             Yemen          0          0       0
8270  2020-03-05            Zambia          0          0       0
8271  2020-03-05          Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date           Country  Confirmed  Recovered  Deaths
8308  2020-03-06             China      80690      53944    3044
8363  2020-03-06      Korea, South       6593        135      42
8353  2020-03-06              Iran       4747        913     124
8357  2020-03-06             Italy       4636        523     197
8320  2020-03-06  Diamond Princess        706         40       6
...          ...               ...        ...        ...     ...
8453  2020-03-06         Venezuela          0          0       0
8456  2020-03-06    Western Sahara          0          0       0
8457  2020-03-06             Yemen          0          0       0
8458  2020-03-06            Zambia          0          0       0
8459  2020-03-06          Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
8496  2020-03-07           China      80770      55539    3072
8551  2020-03-07    Korea, South       7041        135      44
8545  2020-03-07           Italy       5883        589     233
8541  2020-03-07            Iran       5823       1669     145
8522  2020-03-07          France        959         12      11
...          ...             ...        ...        ...     ...
8641  2020-03-07       Venezuela          0          0       0
8644  2020-03-07  Western Sahara          0          0       0
8645  2020-03-07           Yemen          0          0       0
8646  2020-03-07          Zambia          0          0       0
8647  2020-03-07        Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
8684  2020-03-08           China      80823      57388    3100
8733  2020-03-08           Italy       7375        622     366
8739  2020-03-08    Korea, South       7314        118      50
8729  2020-03-08            Iran       6566       2134     194
8710  2020-03-08          France       1136         12      19
...          ...             ...        ...        ...     ...
8829  2020-03-08       Venezuela          0          0       0
8832  2020-03-08  Western Sahara          0          0       0
8833  2020-03-08           Yemen          0          0       0
8834  2020-03-08          Zambia          0          0       0
8835  2020-03-08        Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
8872  2020-03-09           China      80860      58804    3123
8921  2020-03-09           Italy       9172        724     463
8927  2020-03-09    Korea, South       7478        118      53
8917  2020-03-09            Iran       7161       2394     237
8898  2020-03-09          France       1219         12      19
...          ...             ...        ...        ...     ...
9017  2020-03-09       Venezuela          0          0       0
9020  2020-03-09  Western Sahara          0          0       0
9021  2020-03-09           Yemen          0          0       0
9022  2020-03-09          Zambia          0          0       0
9023  2020-03-09        Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
9060  2020-03-10           China      80887      60181    3139
9109  2020-03-10           Italy      10149        724     631
9105  2020-03-10            Iran       8042       2731     291
9115  2020-03-10    Korea, South       7513        247      54
9086  2020-03-10          France       1794         12      33
...          ...             ...        ...        ...     ...
9205  2020-03-10       Venezuela          0          0       0
9208  2020-03-10  Western Sahara          0          0       0
9209  2020-03-10           Yemen          0          0       0
9210  2020-03-10          Zambia          0          0       0
9211  2020-03-10        Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
9248  2020-03-11           China      80921      61644    3161
9297  2020-03-11           Italy      12462       1045     827
9293  2020-03-11            Iran       9000       2959     354
9303  2020-03-11    Korea, South       7755        288      60
9274  2020-03-11          France       2293         12      48
...          ...             ...        ...        ...     ...
9393  2020-03-11       Venezuela          0          0       0
9396  2020-03-11  Western Sahara          0          0       0
9397  2020-03-11           Yemen          0          0       0
9398  2020-03-11          Zambia          0          0       0
9399  2020-03-11        Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
9436  2020-03-12           China      80932      62901    3172
9485  2020-03-12           Italy      12462       1045     827
9481  2020-03-12            Iran      10075       2959     429
9491  2020-03-12    Korea, South       7869        333      66
9462  2020-03-12          France       2293         12      48
...          ...             ...        ...        ...     ...
9581  2020-03-12       Venezuela          0          0       0
9584  2020-03-12  Western Sahara          0          0       0
9585  2020-03-12           Yemen          0          0       0
9586  2020-03-12          Zambia          0          0       0
9587  2020-03-12        Zimbabwe          0          0       0

[188 rows x 5 columns]

            Date         Country  Confirmed  Recovered  Deaths
9624  2020-03-13           China      80945      64196    3180
9673  2020-03-13           Italy      17660       1439    1266
9669  2020-03-13            Iran      11364       2959     514
9679  2020-03-13    Korea, South       7979        510      66
9746  2020-03-13           Spain       5232        193     133
...          ...             ...        ...        ...     ...
9769  2020-03-13       Venezuela          0          0       0
9772  2020-03-13  Western Sahara          0          0       0
9773  2020-03-13           Yemen          0          0       0
9774  2020-03-13          Zambia          0          0       0
9775  2020-03-13        Zimbabwe          0          0       0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
9812  2020-03-14           China      80977      65660    3193
9861  2020-03-14           Italy      21157       1966    1441
9857  2020-03-14            Iran      12729       2959     611
9867  2020-03-14    Korea, South       8086        510      72
9934  2020-03-14           Spain       6391        517     195
...          ...             ...        ...        ...     ...
9956  2020-03-14      Uzbekistan          0          0       0
9960  2020-03-14  Western Sahara          0          0       0
9961  2020-03-14           Yemen          0          0       0
9962  2020-03-14          Zambia          0          0       0
9963  2020-03-14        Zimbabwe          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
10000  2020-03-15           China      81003      67017    3203
10049  2020-03-15           Italy      24747       2335    1809
10045  2020-03-15            Iran      13938       4590     724
10055  2020-03-15    Korea, South       8162        510      75
10122  2020-03-15           Spain       7798        517     289
...           ...             ...        ...        ...     ...
10139  2020-03-15          Uganda          0          0       0
10148  2020-03-15  Western Sahara          0          0       0
10149  2020-03-15           Yemen          0          0       0
10150  2020-03-15          Zambia          0          0       0
10151  2020-03-15        Zimbabwe          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
10188  2020-03-16           China      81033      67910    3217
10237  2020-03-16           Italy      27980       2749    2158
10233  2020-03-16            Iran      14991       4590     853
10310  2020-03-16           Spain       9942        530     342
10243  2020-03-16    Korea, South       8236       1137      75
...           ...             ...        ...        ...     ...
10327  2020-03-16          Uganda          0          0       0
10336  2020-03-16  Western Sahara          0          0       0
10337  2020-03-16           Yemen          0          0       0
10338  2020-03-16          Zambia          0          0       0
10339  2020-03-16        Zimbabwe          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
10376  2020-03-17           China      81058      68798    3230
10425  2020-03-17           Italy      31506       2941    2503
10421  2020-03-17            Iran      16169       5389     988
10498  2020-03-17           Spain      11748       1028     533
10406  2020-03-17         Germany       9257         67      24
...           ...             ...        ...        ...     ...
10515  2020-03-17          Uganda          0          0       0
10524  2020-03-17  Western Sahara          0          0       0
10525  2020-03-17           Yemen          0          0       0
10526  2020-03-17          Zambia          0          0       0
10527  2020-03-17        Zimbabwe          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
10564  2020-03-18           China      81102      69755    3241
10613  2020-03-18           Italy      35713       4025    2978
10609  2020-03-18            Iran      17361       5389    1135
10686  2020-03-18           Spain      13910       1081     623
10594  2020-03-18         Germany      12327        105      28
...           ...             ...        ...        ...     ...
10697  2020-03-18     Timor-Leste          0          0       0
10703  2020-03-18          Uganda          0          0       0
10712  2020-03-18  Western Sahara          0          0       0
10713  2020-03-18           Yemen          0          0       0
10715  2020-03-18        Zimbabwe          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
10752  2020-03-19           China      81156      70535    3249
10801  2020-03-19           Italy      41035       4440    3405
10797  2020-03-19            Iran      18407       5710    1284
10874  2020-03-19           Spain      17963       1107     830
10782  2020-03-19         Germany      15320        113      44
...           ...             ...        ...        ...     ...
10885  2020-03-19     Timor-Leste          0          0       0
10891  2020-03-19          Uganda          0          0       0
10900  2020-03-19  Western Sahara          0          0       0
10901  2020-03-19           Yemen          0          0       0
10903  2020-03-19        Zimbabwe          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
10940  2020-03-20           China      81250      71266    3253
10989  2020-03-20           Italy      47021       4440    4032
11062  2020-03-20           Spain      20410       1588    1043
10970  2020-03-20         Germany      19848        180      67
10985  2020-03-20            Iran      19644       6745    1433
...           ...             ...        ...        ...     ...
11070  2020-03-20      Tajikistan          0          0       0
11073  2020-03-20     Timor-Leste          0          0       0
11079  2020-03-20          Uganda          0          0       0
11088  2020-03-20  Western Sahara          0          0       0
11089  2020-03-20           Yemen          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
11128  2020-03-21           China      81305      71857    3259
11177  2020-03-21           Italy      53578       6072    4825
11266  2020-03-21              US      25600        176     442
11250  2020-03-21           Spain      25374       2125    1375
11158  2020-03-21         Germany      22213        233      84
...           ...             ...        ...        ...     ...
11256  2020-03-21           Syria          0          0       0
11258  2020-03-21      Tajikistan          0          0       0
11261  2020-03-21     Timor-Leste          0          0       0
11276  2020-03-21  Western Sahara          0          0       0
11277  2020-03-21           Yemen          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
11316  2020-03-22           China      81435      72362    3274
11365  2020-03-22           Italy      59138       7024    5476
11454  2020-03-22              US      33276        178     586
11438  2020-03-22           Spain      28768       2575    1772
11346  2020-03-22         Germany      24873        266      94
...           ...             ...        ...        ...     ...
11431  2020-03-22    Sierra Leone          0          0       0
11437  2020-03-22     South Sudan          0          0       0
11446  2020-03-22      Tajikistan          0          0       0
11464  2020-03-22  Western Sahara          0          0       0
11465  2020-03-22           Yemen          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
11504  2020-03-23           China      81498      72814    3274
11553  2020-03-23           Italy      63927       7024    6077
11642  2020-03-23              US      43843        178     786
11626  2020-03-23           Spain      35136       2575    2311
11534  2020-03-23         Germany      29056        266     123
...           ...             ...        ...        ...     ...
11619  2020-03-23    Sierra Leone          0          0       0
11625  2020-03-23     South Sudan          0          0       0
11634  2020-03-23      Tajikistan          0          0       0
11652  2020-03-23  Western Sahara          0          0       0
11653  2020-03-23           Yemen          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
11692  2020-03-24           China      81591      73280    3281
11741  2020-03-24           Italy      69176       8326    6820
11830  2020-03-24              US      53736        348    1008
11814  2020-03-24           Spain      39885       3794    2808
11722  2020-03-24         Germany      32986       3243     157
...           ...             ...        ...        ...     ...
11807  2020-03-24    Sierra Leone          0          0       0
11813  2020-03-24     South Sudan          0          0       0
11822  2020-03-24      Tajikistan          0          0       0
11840  2020-03-24  Western Sahara          0          0       0
11841  2020-03-24           Yemen          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
11880  2020-03-25           China      81661      73773    3285
11929  2020-03-25           Italy      74386       9362    7503
12018  2020-03-25              US      65778        361    1316
12002  2020-03-25           Spain      49515       5367    3647
11910  2020-03-25         Germany      37323       3547     206
...           ...             ...        ...        ...     ...
11995  2020-03-25    Sierra Leone          0          0       0
12001  2020-03-25     South Sudan          0          0       0
12010  2020-03-25      Tajikistan          0          0       0
12028  2020-03-25  Western Sahara          0          0       0
12029  2020-03-25           Yemen          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
12206  2020-03-26              US      83836        681    1726
12068  2020-03-26           China      81782      74181    3291
12117  2020-03-26           Italy      80589      10361    8215
12190  2020-03-26           Spain      57786       7015    4365
12098  2020-03-26         Germany      43938       5673     267
...           ...             ...        ...        ...     ...
12183  2020-03-26    Sierra Leone          0          0       0
12189  2020-03-26     South Sudan          0          0       0
12198  2020-03-26      Tajikistan          0          0       0
12216  2020-03-26  Western Sahara          0          0       0
12217  2020-03-26           Yemen          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
12394  2020-03-27              US     101657        869    2265
12305  2020-03-27           Italy      86498      10950    9134
12256  2020-03-27           China      81897      74720    3296
12378  2020-03-27           Spain      65719       9357    5138
12286  2020-03-27         Germany      50871       6658     342
...           ...             ...        ...        ...     ...
12371  2020-03-27    Sierra Leone          0          0       0
12377  2020-03-27     South Sudan          0          0       0
12386  2020-03-27      Tajikistan          0          0       0
12404  2020-03-27  Western Sahara          0          0       0
12405  2020-03-27           Yemen          0          0       0

[188 rows x 5 columns]

             Date         Country  Confirmed  Recovered  Deaths
12582  2020-03-28              US     121465       1072    2731
12493  2020-03-28           Italy      92472      12384   10023
12444  2020-03-28           China      81999      75100    3299
12566  2020-03-28           Spain      73235      12285    5982
12474  2020-03-28         Germany      57695       8481     433
...           ...             ...        ...        ...     ...
12559  2020-03-28    Sierra Leone          0          0       0
12565  2020-03-28     South Sudan          0          0       0
12574  2020-03-28      Tajikistan          0          0       0
12592  2020-03-28  Western Sahara          0          0       0
12593  2020-03-28           Yemen          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
12770  2020-03-29              US     140909       2665    3420
12681  2020-03-29           Italy      97689      13030   10779
12632  2020-03-29           China      82122      75582    3304
12754  2020-03-29           Spain      80110      14709    6803
12662  2020-03-29         Germany      62095       9211     533
...           ...             ...        ...        ...     ...
12747  2020-03-29    Sierra Leone          0          0       0
12753  2020-03-29     South Sudan          0          0       0
12762  2020-03-29      Tajikistan          0          0       0
12780  2020-03-29  Western Sahara          0          0       0
12781  2020-03-29           Yemen          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
12958  2020-03-30              US     161831       5644    4192
12869  2020-03-30           Italy     101739      14620   11591
12942  2020-03-30           Spain      87956      16780    7716
12820  2020-03-30           China      82198      75923    3308
12850  2020-03-30         Germany      66885      13500     645
...           ...             ...        ...        ...     ...
12935  2020-03-30    Sierra Leone          0          0       0
12941  2020-03-30     South Sudan          0          0       0
12950  2020-03-30      Tajikistan          0          0       0
12968  2020-03-30  Western Sahara          0          0       0
12969  2020-03-30           Yemen          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
13146  2020-03-31                     US     188172       7024    5367
13057  2020-03-31                  Italy     105792      15729   12428
13130  2020-03-31                  Spain      95923      19259    8464
13008  2020-03-31                  China      82279      76206    3309
13038  2020-03-31                Germany      71808      16100     775
...           ...                    ...        ...        ...     ...
13118  2020-03-31  Sao Tome and Principe          0          0       0
13129  2020-03-31            South Sudan          0          0       0
13138  2020-03-31             Tajikistan          0          0       0
13156  2020-03-31         Western Sahara          0          0       0
13157  2020-03-31                  Yemen          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
13334  2020-04-01                     US     213242       8474    6501
13245  2020-04-01                  Italy     110574      16847   13155
13318  2020-04-01                  Spain     104118      22647    9387
13196  2020-04-01                  China      82361      76405    3316
13226  2020-04-01                Germany      77872      18700     920
...           ...                    ...        ...        ...     ...
13306  2020-04-01  Sao Tome and Principe          0          0       0
13317  2020-04-01            South Sudan          0          0       0
13326  2020-04-01             Tajikistan          0          0       0
13344  2020-04-01         Western Sahara          0          0       0
13345  2020-04-01                  Yemen          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
13522  2020-04-02                     US     243622       9001    7921
13433  2020-04-02                  Italy     115242      18278   13915
13506  2020-04-02                  Spain     112065      26743   10348
13414  2020-04-02                Germany      84794      22440    1107
13384  2020-04-02                  China      82432      76565    3322
...           ...                    ...        ...        ...     ...
13494  2020-04-02  Sao Tome and Principe          0          0       0
13505  2020-04-02            South Sudan          0          0       0
13514  2020-04-02             Tajikistan          0          0       0
13532  2020-04-02         Western Sahara          0          0       0
13533  2020-04-02                  Yemen          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
13710  2020-04-03                     US     275367       9707    9246
13621  2020-04-03                  Italy     119827      19758   14681
13694  2020-04-03                  Spain     119199      30513   11198
13602  2020-04-03                Germany      91159      24575    1275
13572  2020-04-03                  China      82511      76760    3326
...           ...                    ...        ...        ...     ...
13682  2020-04-03  Sao Tome and Principe          0          0       0
13693  2020-04-03            South Sudan          0          0       0
13702  2020-04-03             Tajikistan          0          0       0
13720  2020-04-03         Western Sahara          0          0       0
13721  2020-04-03                  Yemen          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
13898  2020-04-04                     US     308650      14652   10855
13882  2020-04-04                  Spain     126168      34219   11947
13809  2020-04-04                  Italy     124632      20996   15362
13790  2020-04-04                Germany      96092      26400    1444
13760  2020-04-04                  China      82543      76946    3330
...           ...                    ...        ...        ...     ...
13870  2020-04-04  Sao Tome and Principe          0          0       0
13881  2020-04-04            South Sudan          0          0       0
13890  2020-04-04             Tajikistan          0          0       0
13908  2020-04-04         Western Sahara          0          0       0
13909  2020-04-04                  Yemen          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
14086  2020-04-05                     US     336802      17448   12375
14070  2020-04-05                  Spain     131646      38080   12641
13997  2020-04-05                  Italy     128948      21815   15887
13978  2020-04-05                Germany     100123      28700    1584
13948  2020-04-05                  China      82602      77207    3333
...           ...                    ...        ...        ...     ...
13950  2020-04-05                Comoros          0          0       0
14010  2020-04-05                Lesotho          0          0       0
14058  2020-04-05  Sao Tome and Principe          0          0       0
14078  2020-04-05             Tajikistan          0          0       0
14097  2020-04-05                  Yemen          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
14274  2020-04-06           US     366317      19581   13894
14258  2020-04-06        Spain     136675      40437   13341
14185  2020-04-06        Italy     132547      22837   16523
14166  2020-04-06      Germany     103374      28700    1810
14136  2020-04-06        China      82665      77310    3335
...           ...          ...        ...        ...     ...
14269  2020-04-06  Timor-Leste          1          0       0
14138  2020-04-06      Comoros          0          0       0
14198  2020-04-06      Lesotho          0          0       0
14266  2020-04-06   Tajikistan          0          0       0
14285  2020-04-06        Yemen          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
14462  2020-04-07           US     397121      21763   16191
14446  2020-04-07        Spain     141942      43208   14045
14373  2020-04-07        Italy     135586      24392   17127
14354  2020-04-07      Germany     107663      36081    2016
14324  2020-04-07        China      82718      77410    3335
...           ...          ...        ...        ...     ...
14457  2020-04-07  Timor-Leste          1          0       0
14326  2020-04-07      Comoros          0          0       0
14386  2020-04-07      Lesotho          0          0       0
14454  2020-04-07   Tajikistan          0          0       0
14473  2020-04-07        Yemen          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
14650  2020-04-08           US     428654      23559   18270
14634  2020-04-08        Spain     148220      48021   14792
14561  2020-04-08        Italy     139422      26491   17669
14542  2020-04-08      Germany     113296      46300    2349
14538  2020-04-08       France      83057      21452   10887
...           ...          ...        ...        ...     ...
14645  2020-04-08  Timor-Leste          1          0       0
14514  2020-04-08      Comoros          0          0       0
14574  2020-04-08      Lesotho          0          0       0
14642  2020-04-08   Tajikistan          0          0       0
14661  2020-04-08        Yemen          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
14838  2020-04-09           US     462780      25410   20255
14822  2020-04-09        Spain     153222      52165   15447
14749  2020-04-09        Italy     143626      28470   18279
14730  2020-04-09      Germany     118181      52407    2607
14726  2020-04-09       France      87366      23413   12228
...           ...          ...        ...        ...     ...
14833  2020-04-09  Timor-Leste          1          0       0
14702  2020-04-09      Comoros          0          0       0
14762  2020-04-09      Lesotho          0          0       0
14830  2020-04-09   Tajikistan          0          0       0
14849  2020-04-09        Yemen          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
15026  2020-04-10                US     496535      28790   22333
15010  2020-04-10             Spain     158273      55668   16081
14937  2020-04-10             Italy     147577      30455   18849
14918  2020-04-10           Germany     122171      53913    2767
14914  2020-04-10            France      91738      25195   13215
...           ...               ...        ...        ...     ...
14984  2020-04-10  Papua New Guinea          2          0       0
15037  2020-04-10             Yemen          1          0       0
14890  2020-04-10           Comoros          0          0       0
14950  2020-04-10           Lesotho          0          0       0
15018  2020-04-10        Tajikistan          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
15214  2020-04-11                US     526396      31270   24342
15198  2020-04-11             Spain     163027      59109   16606
15125  2020-04-11             Italy     152271      32534   19468
15106  2020-04-11           Germany     124908      57400    2736
15102  2020-04-11            France      94863      26663   13851
...           ...               ...        ...        ...     ...
15172  2020-04-11  Papua New Guinea          2          0       0
15225  2020-04-11             Yemen          1          0       0
15078  2020-04-11           Comoros          0          0       0
15138  2020-04-11           Lesotho          0          0       0
15206  2020-04-11        Tajikistan          0          0       0

[188 rows x 5 columns]

             Date           Country  Confirmed  Recovered  Deaths
15402  2020-04-12                US     555313      32988   26086
15386  2020-04-12             Spain     166831      62391   17209
15313  2020-04-12             Italy     156363      34211   19899
15294  2020-04-12           Germany     127854      60300    3022
15290  2020-04-12            France     121712      27469   14412
...           ...               ...        ...        ...     ...
15360  2020-04-12  Papua New Guinea          2          0       0
15413  2020-04-12             Yemen          1          0       0
15266  2020-04-12           Comoros          0          0       0
15326  2020-04-12           Lesotho          0          0       0
15394  2020-04-12        Tajikistan          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
15590  2020-04-13                US     580619      43482   27870
15574  2020-04-13             Spain     170099      64727   17756
15501  2020-04-13             Italy     159516      35435   20465
15482  2020-04-13           Germany     130072      64300    3194
15478  2020-04-13            France     125394      28001   14986
...           ...               ...        ...        ...     ...
15548  2020-04-13  Papua New Guinea          2          0       0
15601  2020-04-13             Yemen          1          0       0
15454  2020-04-13           Comoros          0          0       0
15514  2020-04-13           Lesotho          0          0       0
15582  2020-04-13        Tajikistan          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
15778  2020-04-14                US     607670      47763   30262
15762  2020-04-14             Spain     172541      67504   18056
15689  2020-04-14             Italy     162488      37130   21067
15670  2020-04-14           Germany     131359      68200    3294
15666  2020-04-14            France     130365      28805   15731
...           ...               ...        ...        ...     ...
15736  2020-04-14  Papua New Guinea          2          0       0
15789  2020-04-14             Yemen          1          0       0
15642  2020-04-14           Comoros          0          0       0
15702  2020-04-14           Lesotho          0          0       0
15770  2020-04-14        Tajikistan          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
15966  2020-04-15                US     636350      52096   32734
15950  2020-04-15             Spain     177644      70853   18708
15877  2020-04-15             Italy     165155      38092   21645
15858  2020-04-15           Germany     134753      72600    3804
15854  2020-04-15            France     133585      30955   17169
...           ...               ...        ...        ...     ...
15924  2020-04-15  Papua New Guinea          2          0       0
15977  2020-04-15             Yemen          1          0       0
15830  2020-04-15           Comoros          0          0       0
15890  2020-04-15           Lesotho          0          0       0
15958  2020-04-15        Tajikistan          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
16154  2020-04-16           US     667592      54703   34827
16138  2020-04-16        Spain     184948      74797   19315
16065  2020-04-16        Italy     168941      40164   22170
16042  2020-04-16       France     146075      32812   17922
16046  2020-04-16      Germany     137698      77000    4052
...           ...          ...        ...        ...     ...
16137  2020-04-16  South Sudan          4          0       0
16165  2020-04-16        Yemen          1          0       0
16018  2020-04-16      Comoros          0          0       0
16078  2020-04-16      Lesotho          0          0       0
16146  2020-04-16   Tajikistan          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
16342  2020-04-17           US     699706      58545   37411
16326  2020-04-17        Spain     190839      74797   20002
16253  2020-04-17        Italy     172434      42727   22745
16230  2020-04-17       France     148084      34420   18683
16234  2020-04-17      Germany     141397      83114    4352
...           ...          ...        ...        ...     ...
16325  2020-04-17  South Sudan          4          0       0
16353  2020-04-17        Yemen          1          0       0
16206  2020-04-17      Comoros          0          0       0
16266  2020-04-17      Lesotho          0          0       0
16334  2020-04-17   Tajikistan          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
16530  2020-04-18           US     732197      64840   39753
16514  2020-04-18        Spain     191726      74797   20043
16441  2020-04-18        Italy     175925      44927   23227
16418  2020-04-18       France     148086      35983   19325
16422  2020-04-18      Germany     143342      85400    4459
...           ...          ...        ...        ...     ...
16513  2020-04-18  South Sudan          4          0       0
16541  2020-04-18        Yemen          1          0       0
16394  2020-04-18      Comoros          0          0       0
16454  2020-04-18      Lesotho          0          0       0
16522  2020-04-18   Tajikistan          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
16718  2020-04-19           US     758809      70337   40945
16702  2020-04-19        Spain     198674      77357   20453
16629  2020-04-19        Italy     178972      47055   23660
16606  2020-04-19       France     153011      36578   19720
16610  2020-04-19      Germany     145184      88000    4586
...           ...          ...        ...        ...     ...
16701  2020-04-19  South Sudan          4          0       0
16729  2020-04-19        Yemen          1          0       0
16582  2020-04-19      Comoros          0          0       0
16642  2020-04-19      Lesotho          0          0       0
16710  2020-04-19   Tajikistan          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
16906  2020-04-20           US     784326      72329   42659
16890  2020-04-20        Spain     200210      80587   20852
16817  2020-04-20        Italy     181228      48877   24114
16794  2020-04-20       France     155393      37409   20267
16798  2020-04-20      Germany     147065      91500    4862
...           ...          ...        ...        ...     ...
16889  2020-04-20  South Sudan          4          0       0
16917  2020-04-20        Yemen          1          0       0
16770  2020-04-20      Comoros          0          0       0
16830  2020-04-20      Lesotho          0          0       0
16898  2020-04-20   Tajikistan          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
17094  2020-04-21           US     811865      75204   45086
17078  2020-04-21        Spain     204178      82514   21282
17005  2020-04-21        Italy     183957      51600   24648
16982  2020-04-21       France     158168      39181   20798
16986  2020-04-21      Germany     148291      95200    5033
...           ...          ...        ...        ...     ...
17077  2020-04-21  South Sudan          4          0       0
17105  2020-04-21        Yemen          1          0       0
16958  2020-04-21      Comoros          0          0       0
17018  2020-04-21      Lesotho          0          0       0
17086  2020-04-21   Tajikistan          0          0       0

[188 rows x 5 columns]
             Date      Country  Confirmed  Recovered  Deaths
17282  2020-04-22           US     840351      77366   47412
17266  2020-04-22        Spain     208389      85915   21717
17193  2020-04-22        Italy     187327      54543   25085
17170  2020-04-22       France     155980      40657   21342
17174  2020-04-22      Germany     150648      99400    5279
...           ...          ...        ...        ...     ...
17265  2020-04-22  South Sudan          4          0       0
17293  2020-04-22        Yemen          1          0       0
17146  2020-04-22      Comoros          0          0       0
17206  2020-04-22      Lesotho          0          0       0
17274  2020-04-22   Tajikistan          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
17470  2020-04-23                     US     869170      80203   49724
17454  2020-04-23                  Spain     213024      89250   22157
17381  2020-04-23                  Italy     189973      57576   25549
17358  2020-04-23                 France     158303      42088   21858
17362  2020-04-23                Germany     153129     103300    5575
...           ...                    ...        ...        ...     ...
17442  2020-04-23  Sao Tome and Principe          4          0       0
17481  2020-04-23                  Yemen          1          0       0
17334  2020-04-23                Comoros          0          0       0
17394  2020-04-23                Lesotho          0          0       0
17462  2020-04-23             Tajikistan          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
17658  2020-04-24                     US     905358      99079   51493
17642  2020-04-24                  Spain     202990      92355   22524
17569  2020-04-24                  Italy     192994      60498   25969
17546  2020-04-24                 France     159952      43493   22248
17550  2020-04-24                Germany     154999     109800    5760
...           ...                    ...        ...        ...     ...
17630  2020-04-24  Sao Tome and Principe          4          0       0
17669  2020-04-24                  Yemen          1          1       0
17522  2020-04-24                Comoros          0          0       0
17582  2020-04-24                Lesotho          0          0       0
17650  2020-04-24             Tajikistan          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
17846  2020-04-25                     US     938154     100372   53755
17830  2020-04-25                  Spain     205905      95708   22902
17757  2020-04-25                  Italy     195351      63120   26384
17734  2020-04-25                 France     161644      44594   22617
17738  2020-04-25                Germany     156513     109800    5877
...           ...                    ...        ...        ...     ...
17818  2020-04-25  Sao Tome and Principe          4          0       0
17857  2020-04-25                  Yemen          1          1       0
17710  2020-04-25                Comoros          0          0       0
17770  2020-04-25                Lesotho          0          0       0
17838  2020-04-25             Tajikistan          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
18034  2020-04-26                     US     965785     106988   54881
18018  2020-04-26                  Spain     207634      98372   23190
17945  2020-04-26                  Italy     197675      64928   26644
17922  2020-04-26                 France     162220      44903   22859
17926  2020-04-26                Germany     157770     112000    5976
...           ...                    ...        ...        ...     ...
18006  2020-04-26  Sao Tome and Principe          4          0       0
18045  2020-04-26                  Yemen          1          1       0
17898  2020-04-26                Comoros          0          0       0
17958  2020-04-26                Lesotho          0          0       0
18026  2020-04-26             Tajikistan          0          0       0

[188 rows x 5 columns]
             Date                Country  Confirmed  Recovered  Deaths
18222  2020-04-27                     US     988197     111424   56219
18206  2020-04-27                  Spain     209465     100875   23521
18133  2020-04-27                  Italy     199414      66624   26977
18110  2020-04-27                 France     165963      45513   23296
18114  2020-04-27                Germany     158758     114500    6126
...           ...                    ...        ...        ...     ...
18194  2020-04-27  Sao Tome and Principe          4          0       0
18233  2020-04-27                  Yemen          1          1       0
18086  2020-04-27                Comoros          0          0       0
18146  2020-04-27                Lesotho          0          0       0
18214  2020-04-27             Tajikistan          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
18410  2020-04-28              US    1012582     115936   58355
18394  2020-04-28           Spain     210773     102548   23822
18321  2020-04-28           Italy     201505      68941   27359
18298  2020-04-28          France     169053      46886   23663
18414  2020-04-28  United Kingdom     162350        813   25369
...           ...             ...        ...        ...     ...
18420  2020-04-28  Western Sahara          6          5       0
18421  2020-04-28           Yemen          1          1       0
18274  2020-04-28         Comoros          0          0       0
18334  2020-04-28         Lesotho          0          0       0
18402  2020-04-28      Tajikistan          0          0       0

[188 rows x 5 columns]

             Date         Country  Confirmed  Recovered  Deaths
18598  2020-04-29              US    1039909     120720   60967
18582  2020-04-29           Spain     212917     108947   24275
18509  2020-04-29           Italy     203591      71252   27682
18486  2020-04-29          France     166543      48228   24090
18602  2020-04-29  United Kingdom     166441        857   26166
...           ...             ...        ...        ...     ...
18608  2020-04-29  Western Sahara          6          5       0
18609  2020-04-29           Yemen          6          1       0
18462  2020-04-29         Comoros          0          0       0
18522  2020-04-29         Lesotho          0          0       0
18590  2020-04-29      Tajikistan          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
18786  2020-04-30              US    1069424     153947   62996
18770  2020-04-30           Spain     213435     112050   24543
18697  2020-04-30           Italy     205463      75945   27967
18790  2020-04-30  United Kingdom     172481        859   26842
18674  2020-04-30          France     167299      49476   24379
...           ...             ...        ...        ...     ...
18631  2020-04-30          Bhutan          7          5       0
18796  2020-04-30  Western Sahara          6          5       0
18797  2020-04-30           Yemen          6          1       2
18650  2020-04-30         Comoros          1          0       0
18710  2020-04-30         Lesotho          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
18974  2020-05-01              US    1103461     164015   64943
18958  2020-05-01           Spain     215216     112050   24543
18885  2020-05-01           Italy     207428      78249   28236
18978  2020-05-01  United Kingdom     178685        892   27583
18862  2020-05-01          France     167305      50212   24597
...           ...             ...        ...        ...     ...
18819  2020-05-01          Bhutan          7          5       0
18985  2020-05-01           Yemen          7          1       2
18984  2020-05-01  Western Sahara          6          5       0
18838  2020-05-01         Comoros          1          0       0
18898  2020-05-01         Lesotho          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
19162  2020-05-02                US    1132539     175382   66369
19146  2020-05-02             Spain     216582     117248   25100
19073  2020-05-02             Italy     209328      79914   28710
19166  2020-05-02    United Kingdom     183500        896   28205
19050  2020-05-02            France     168518      50663   24763
...           ...               ...        ...        ...     ...
19120  2020-05-02  Papua New Guinea          8          0       0
19007  2020-05-02            Bhutan          7          5       0
19172  2020-05-02    Western Sahara          6          5       0
19026  2020-05-02           Comoros          3          0       0
19086  2020-05-02           Lesotho          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
19350  2020-05-03                US    1158040     180152   67682
19334  2020-05-03             Spain     217466     118902   25264
19261  2020-05-03             Italy     210717      81654   28884
19354  2020-05-03    United Kingdom     187842        901   28520
19238  2020-05-03            France     168925      50885   24900
...           ...               ...        ...        ...     ...
19308  2020-05-03  Papua New Guinea          8          0       0
19195  2020-05-03            Bhutan          7          5       0
19360  2020-05-03    Western Sahara          6          5       0
19214  2020-05-03           Comoros          3          0       0
19274  2020-05-03           Lesotho          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
19538  2020-05-04              US    1180375     187180   68922
19522  2020-05-04           Spain     218011     121343   25428
19449  2020-05-04           Italy     211938      82879   29079
19542  2020-05-04  United Kingdom     191832        910   28809
19426  2020-05-04          France     169583      51476   25204
...           ...             ...        ...        ...     ...
19475  2020-05-04      Mauritania          8          6       1
19383  2020-05-04          Bhutan          7          5       0
19548  2020-05-04  Western Sahara          6          5       0
19402  2020-05-04         Comoros          3          0       0
19462  2020-05-04         Lesotho          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
19726  2020-05-05              US    1204351     189791   71064
19710  2020-05-05           Spain     219329     123486   25613
19637  2020-05-05           Italy     213013      85231   29315
19730  2020-05-05  United Kingdom     196243        926   29501
19614  2020-05-05          France     170687      52842   25537
...           ...             ...        ...        ...     ...
19663  2020-05-05      Mauritania          8          6       1
19571  2020-05-05          Bhutan          7          5       0
19736  2020-05-05  Western Sahara          6          5       0
19590  2020-05-05         Comoros          3          0       0
19650  2020-05-05         Lesotho          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
19914  2020-05-06              US    1229331     189910   73455
19898  2020-05-06           Spain     220325     126002   25857
19825  2020-05-06           Italy     214457      93245   29684
19918  2020-05-06  United Kingdom     202359        934   30150
19802  2020-05-06          France     174224      54079   25812
...           ...             ...        ...        ...     ...
19851  2020-05-06      Mauritania          8          6       1
19778  2020-05-06         Comoros          8          0       1
19759  2020-05-06          Bhutan          7          5       0
19924  2020-05-06  Western Sahara          6          5       0
19838  2020-05-06         Lesotho          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
20102  2020-05-07              US    1257023     195036   75662
20086  2020-05-07           Spain     221447     128511   26070
20013  2020-05-07           Italy     215858      96276   29958
20106  2020-05-07  United Kingdom     207977        970   30689
20068  2020-05-07          Russia     177160      23803    1625
...           ...             ...        ...        ...     ...
20039  2020-05-07      Mauritania          8          6       1
19966  2020-05-07         Comoros          8          0       1
19947  2020-05-07          Bhutan          7          5       0
20112  2020-05-07  Western Sahara          6          5       0
20026  2020-05-07         Lesotho          0          0       0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
20290  2020-05-08              US    1283929     198993   77180
20274  2020-05-08           Spain     222857     131148   26299
20201  2020-05-08           Italy     217185      99023   30201
20294  2020-05-08  United Kingdom     212629        997   31316
20256  2020-05-08          Russia     187859      26608    1723
...           ...             ...        ...        ...     ...
20227  2020-05-08      Mauritania          8          6       1
20154  2020-05-08         Comoros          8          0       1
20135  2020-05-08          Bhutan          7          5       0
20300  2020-05-08  Western Sahara          6          5       0
20214  2020-05-08         Lesotho          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
20478  2020-05-09                US    1309550     212534   78795
20462  2020-05-09             Spain     223578     133952   26478
20389  2020-05-09             Italy     218268     103031   30395
20482  2020-05-09    United Kingdom     216525       1001   31662
20444  2020-05-09            Russia     198676      31916    1827
...           ...               ...        ...        ...     ...
20436  2020-05-09  Papua New Guinea          8          8       0
20415  2020-05-09        Mauritania          8          6       1
20323  2020-05-09            Bhutan          7          5       0
20488  2020-05-09    Western Sahara          6          5       0
20402  2020-05-09           Lesotho          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
20666  2020-05-10                US    1329260     216169   79526
20650  2020-05-10             Spain     224350     136166   26621
20670  2020-05-10    United Kingdom     220449       1002   31930
20577  2020-05-10             Italy     219070     105186   30560
20632  2020-05-10            Russia     209688      34306    1915
...           ...               ...        ...        ...     ...
20624  2020-05-10  Papua New Guinea          8          8       0
20603  2020-05-10        Mauritania          8          6       1
20511  2020-05-10            Bhutan          7          5       0
20676  2020-05-10    Western Sahara          6          5       0
20590  2020-05-10           Lesotho          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
20854  2020-05-11                US    1347881     232733   80682
20838  2020-05-11             Spain     227436     137139   26744
20858  2020-05-11    United Kingdom     224332       1015   32141
20820  2020-05-11            Russia     221344      39801    2009
20765  2020-05-11             Italy     219814     106587   30739
...           ...               ...        ...        ...     ...
20784  2020-05-11        MS Zaandam          9          0       2
20812  2020-05-11  Papua New Guinea          8          8       0
20791  2020-05-11        Mauritania          8          6       1
20864  2020-05-11    Western Sahara          6          6       0
20778  2020-05-11           Lesotho          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
21042  2020-05-12                US    1369376     230287   82356
21008  2020-05-12            Russia     232243      43512    2116
21026  2020-05-12             Spain     228030     138980   26920
21046  2020-05-12    United Kingdom     227741       1023   32769
20953  2020-05-12             Italy     221216     109039   30911
...           ...               ...        ...        ...     ...
20979  2020-05-12        Mauritania          9          6       1
20972  2020-05-12        MS Zaandam          9          0       2
21000  2020-05-12  Papua New Guinea          8          8       0
21052  2020-05-12    Western Sahara          6          6       0
20966  2020-05-12           Lesotho          0          0       0

[188 rows x 5 columns]
             Date           Country  Confirmed  Recovered  Deaths
21230  2020-05-13                US    1390406     243430   84119
21196  2020-05-13            Russia     242271      48003    2212
21234  2020-05-13    United Kingdom     230985       1032   33264
21214  2020-05-13             Spain     228691     140823   27104
21141  2020-05-13             Italy     222104     112541   31106
...           ...               ...        ...        ...     ...
21217  2020-05-13          Suriname         10          9       1
21160  2020-05-13        MS Zaandam          9          0       2
21188  2020-05-13  Papua New Guinea          8          8       0
21240  2020-05-13    Western Sahara          6          6       0
21154  2020-05-13           Lesotho          1          0       0

[188 rows x 5 columns]

In [14]:
sorteddata

             Date           Country  Confirmed  Recovered  Deaths
36     2020-01-22             China        548         28      17
87     2020-01-22             Japan          2          0       0
168    2020-01-22          Thailand          2          0       0
91     2020-01-22      Korea, South          1          0       0
165    2020-01-22           Taiwan*          1          0       0
...           ...               ...        ...        ...     ...
21217  2020-05-13          Suriname         10          9       1
21160  2020-05-13        MS Zaandam          9          0       2
21188  2020-05-13  Papua New Guinea          8          8       0
21240  2020-05-13    Western Sahara          6          6       0
21154  2020-05-13           Lesotho          1          0       0

[21244 rows x 5 columns]

In [15]:
sorteddata.to_csv("../COVID-19 Data/aggregated_sorted_totall.csv")

In [16]:
dates = list(dict.fromkeys(sorteddata.loc[:, date_index]))
sorteddata[sorteddata[date_index].str.contains(dates[0])].iloc[:15, : ]

           Date              Country  Confirmed  Recovered  Deaths
36   2020-01-22                China        548         28      17
87   2020-01-22                Japan          2          0       0
168  2020-01-22             Thailand          2          0       0
91   2020-01-22         Korea, South          1          0       0
165  2020-01-22              Taiwan*          1          0       0
174  2020-01-22                   US          1          0       0
0    2020-01-22          Afghanistan          0          0       0
1    2020-01-22              Albania          0          0       0
2    2020-01-22              Algeria          0          0       0
3    2020-01-22              Andorra          0          0       0
4    2020-01-22               Angola          0          0       0
5    2020-01-22  Antigua and Barbuda          0          0       0
6    2020-01-22            Argentina          0          0       0
7    2020-01-22              Armenia          0          0       0
8    2020-01-22            Australia          0          0       0

## Removing Zero Confirmed Records For Visualization

In [17]:
highVals = []

for row in range(len(sorteddata)):
    if sorteddata.iloc[row, :].Confirmed > 0 :
        highVals.append(row)
highVals

[0,
 1,
 2,
 3,
 4,
 5,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1316,
 1317,
 1318,
 1319,
 1320,
 1321,
 1322,
 1323,
 1324,
 1325,
 1326,
 1327,
 1328,
 1329,
 1330,
 1331,
 1332,
 1333,
 1504,
 1505,
 1506,
 1507,
 1508,
 1509,
 1510,
 1511,
 1512,
 1513,
 1514,
 1515,
 1516,
 1517,
 1518,
 1519,
 1520,
 1521,
 1522,
 1523,
 1692,
 1693,
 1694,
 1695,
 1696,
 1697,
 1698,
 1699,
 1700,
 1701,
 1702,
 1703,
 1704,
 1705,
 1706,
 1707,
 1708,
 1709,
 1710,
 1711,
 1712,
 1713,
 1714,
 1715,
 1880,
 1881,
 1882,
 1883,
 1884,
 1885,
 1886,
 1887,
 1888,
 1889,
 1890,
 1891,
 1892,
 1893,
 1894,
 1895,
 1896,
 1897,
 1898,
 1899,
 1900,
 1901,
 1902,
 1903,
 1904,
 2068,
 2069,
 2070,
 2071,
 2072,
 2073,
 2074,
 2075,
 2076,
 2077,
 2078,
 2079,
 2080,
 2081,
 2082,
 2083,
 2084,
 2085,
 2086,
 2087,
 2088,
 2089,
 2090,
 2091,
 2092,
 2256,
 2257,
 2258,
 2259,
 2260,
 2261,
 2262,
 2263,
 2264,
 2265,
 2266,
 2267,
 2268,
 2269,
 2270,
 2271,
 2272,
 2273,
 2274,
 2275,
 2276,
 2277,
 2278,
 2279,
 2280,
 2444,
 2445,
 2446,
 2447,
 2448,
 2449,
 2450,
 2451,
 2452,
 2453,
 2454,
 2455,
 2456,
 2457,
 2458,
 2459,
 2460,
 2461,
 2462,
 2463,
 2464,
 2465,
 2466,
 2467,
 2468,
 2469,
 2632,
 2633,
 2634,
 2635,
 2636,
 2637,
 2638,
 2639,
 2640,
 2641,
 2642,
 2643,
 2644,
 2645,
 2646,
 2647,
 2648,
 2649,
 2650,
 2651,
 2652,
 2653,
 2654,
 2655,
 2656,
 2657,
 2820,
 2821,
 2822,
 2823,
 2824,
 2825,
 2826,
 2827,
 2828,
 2829,
 2830,
 2831,
 2832,
 2833,
 2834,
 2835,
 2836,
 2837,
 2838,
 2839,
 2840,
 2841,
 2842,
 2843,
 2844,
 2845,
 3008,
 3009,
 3010,
 3011,
 3012,
 3013,
 3014,
 3015,
 3016,
 3017,
 3018,
 3019,
 3020,
 3021,
 3022,
 3023,
 3024,
 3025,
 3026,
 3027,
 3028,
 3029,
 3030,
 3031,
 3032,
 3033,
 3034,
 3196,
 3197,
 3198,
 3199,
 3200,
 3201,
 3202,
 3203,
 3204,
 3205,
 3206,
 3207,
 3208,
 3209,
 3210,
 3211,
 3212,
 3213,
 3214,
 3215,
 3216,
 3217,
 3218,
 3219,
 3220,
 3221,
 3222,
 3384,
 3385,
 3386,
 3387,
 3388,
 3389,
 3390,
 3391,
 3392,
 3393,
 3394,
 3395,
 3396,
 3397,
 3398,
 3399,
 3400,
 3401,
 3402,
 3403,
 3404,
 3405,
 3406,
 3407,
 3408,
 3409,
 3410,
 3572,
 3573,
 3574,
 3575,
 3576,
 3577,
 3578,
 3579,
 3580,
 3581,
 3582,
 3583,
 3584,
 3585,
 3586,
 3587,
 3588,
 3589,
 3590,
 3591,
 3592,
 3593,
 3594,
 3595,
 3596,
 3597,
 3598,
 3760,
 3761,
 3762,
 3763,
 3764,
 3765,
 3766,
 3767,
 3768,
 3769,
 3770,
 3771,
 3772,
 3773,
 3774,
 3775,
 3776,
 3777,
 3778,
 3779,
 3780,
 3781,
 3782,
 3783,
 3784,
 3785,
 3786,
 3948,
 3949,
 3950,
 3951,
 3952,
 3953,
 3954,
 3955,
 3956,
 3957,
 3958,
 3959,
 3960,
 3961,
 3962,
 3963,
 3964,
 3965,
 3966,
 3967,
 3968,
 3969,
 3970,
 3971,
 3972,
 3973,
 3974,
 4136,
 4137,
 4138,
 4139,
 4140,
 4141,
 4142,
 4143,
 4144,
 4145,
 4146,
 4147,
 4148,
 4149,
 4150,
 4151,
 4152,
 4153,
 4154,
 4155,
 4156,
 4157,
 4158,
 4159,
 4160,
 4161,
 4162,
 4324,
 4325,
 4326,
 4327,
 4328,
 4329,
 4330,
 4331,
 4332,
 4333,
 4334,
 4335,
 4336,
 4337,
 4338,
 4339,
 4340,
 4341,
 4342,
 4343,
 4344,
 4345,
 4346,
 4347,
 4348,
 4349,
 4350,
 4351,
 4512,
 4513,
 4514,
 4515,
 4516,
 4517,
 4518,
 4519,
 4520,
 4521,
 4522,
 4523,
 4524,
 4525,
 4526,
 4527,
 4528,
 4529,
 4530,
 4531,
 4532,
 4533,
 4534,
 4535,
 4536,
 4537,
 4538,
 4539,
 4700,
 4701,
 4702,
 4703,
 4704,
 4705,
 4706,
 4707,
 4708,
 4709,
 4710,
 4711,
 4712,
 4713,
 4714,
 4715,
 4716,
 4717,
 4718,
 4719,
 4720,
 4721,
 4722,
 4723,
 4724,
 4725,
 4726,
 4727,
 4888,
 4889,
 4890,
 4891,
 4892,
 4893,
 4894,
 4895,
 4896,
 4897,
 4898,
 4899,
 4900,
 4901,
 4902,
 4903,
 4904,
 4905,
 4906,
 4907,
 4908,
 4909,
 4910,
 4911,
 4912,
 4913,
 4914,
 4915,
 5076,
 5077,
 5078,
 5079,
 5080,
 5081,
 5082,
 5083,
 5084,
 5085,
 5086,
 5087,
 5088,
 5089,
 5090,
 5091,
 5092,
 5093,
 5094,
 5095,
 5096,
 5097,
 5098,
 5099,
 5100,
 5101,
 5102,
 5103,
 5264,
 5265,
 5266,
 5267,
 5268,
 5269,
 5270,
 5271,
 5272,
 5273,
 5274,
 5275,
 5276,
 5277,
 5278,
 5279,
 5280,
 5281,
 5282,
 5283,
 5284,
 5285,
 5286,
 5287,
 5288,
 5289,
 5290,
 5291,
 5292,
 5452,
 5453,
 5454,
 5455,
 5456,
 5457,
 5458,
 5459,
 5460,
 5461,
 5462,
 5463,
 5464,
 5465,
 5466,
 5467,
 5468,
 5469,
 5470,
 5471,
 5472,
 5473,
 5474,
 5475,
 5476,
 5477,
 5478,
 5479,
 5480,
 5640,
 5641,
 5642,
 5643,
 5644,
 5645,
 5646,
 5647,
 5648,
 5649,
 5650,
 5651,
 5652,
 5653,
 5654,
 5655,
 5656,
 5657,
 5658,
 5659,
 5660,
 5661,
 5662,
 5663,
 5664,
 5665,
 5666,
 5667,
 5668,
 5669,
 5670,
 5828,
 5829,
 5830,
 5831,
 5832,
 5833,
 5834,
 5835,
 5836,
 5837,
 5838,
 5839,
 5840,
 5841,
 5842,
 5843,
 5844,
 5845,
 5846,
 5847,
 5848,
 5849,
 5850,
 5851,
 5852,
 5853,
 5854,
 5855,
 5856,
 5857,
 5858,
 6016,
 6017,
 6018,
 6019,
 6020,
 6021,
 6022,
 6023,
 6024,
 6025,
 6026,
 6027,
 6028,
 6029,
 6030,
 6031,
 6032,
 6033,
 6034,
 6035,
 6036,
 6037,
 6038,
 6039,
 6040,
 6041,
 6042,
 6043,
 6044,
 6045,
 6046,
 6204,
 6205,
 6206,
 6207,
 6208,
 6209,
 6210,
 6211,
 6212,
 6213,
 6214,
 6215,
 6216,
 6217,
 6218,
 6219,
 6220,
 6221,
 6222,
 6223,
 6224,
 6225,
 6226,
 6227,
 6228,
 6229,
 6230,
 6231,
 6232,
 6233,
 6234,
 6235,
 6236,
 6237,
 6238,
 6239,
 6392,
 6393,
 6394,
 6395,
 6396,
 6397,
 6398,
 6399,
 6400,
 6401,
 6402,
 6403,
 6404,
 6405,
 6406,
 6407,
 6408,
 6409,
 6410,
 6411,
 6412,
 6413,
 6414,
 6415,
 6416,
 6417,
 6418,
 6419,
 6420,
 6421,
 6422,
 6423,
 6424,
 6425,
 6426,
 6427,
 6428,
 6429,
 6430,
 6431,
 6580,
 6581,
 6582,
 6583,
 6584,
 6585,
 6586,
 6587,
 6588,
 6589,
 6590,
 6591,
 6592,
 6593,
 6594,
 6595,
 6596,
 6597,
 6598,
 6599,
 6600,
 6601,
 6602,
 6603,
 6604,
 6605,
 6606,
 6607,
 6608,
 6609,
 6610,
 6611,
 6612,
 6613,
 6614,
 6615,
 6616,
 6617,
 6618,
 6619,
 6620,
 6621,
 6622,
 6623,
 6624,
 6625,
 6626,
 6768,
 6769,
 6770,
 6771,
 6772,
 6773,
 6774,
 6775,
 6776,
 6777,
 6778,
 6779,
 6780,
 6781,
 6782,
 6783,
 6784,
 6785,
 6786,
 6787,
 6788,
 6789,
 6790,
 6791,
 6792,
 6793,
 6794,
 6795,
 6796,
 6797,
 6798,
 6799,
 6800,
 6801,
 6802,
 6803,
 6804,
 6805,
 6806,
 6807,
 6808,
 6809,
 6810,
 6811,
 6812,
 6813,
 6814,
 6815,
 6816,
 6817,
 6818,
 6956,
 6957,
 6958,
 6959,
 6960,
 6961,
 6962,
 6963,
 6964,
 6965,
 6966,
 6967,
 6968,
 6969,
 6970,
 6971,
 6972,
 6973,
 6974,
 6975,
 6976,
 6977,
 6978,
 6979,
 6980,
 6981,
 6982,
 6983,
 6984,
 6985,
 6986,
 6987,
 6988,
 6989,
 6990,
 6991,
 6992,
 6993,
 6994,
 6995,
 6996,
 6997,
 6998,
 6999,
 7000,
 7001,
 7002,
 7003,
 7004,
 7005,
 7006,
 7007,
 ...]

In [18]:
newData = sorteddata.iloc[highVals, :]

In [19]:
newData.to_csv("../COVID-19 Data/aggregated_sorted.csv")

## Reforming each day on it\`s own

In [21]:
sorteddata

             Date           Country  Confirmed  Recovered  Deaths
36     2020-01-22             China        548         28      17
87     2020-01-22             Japan          2          0       0
168    2020-01-22          Thailand          2          0       0
91     2020-01-22      Korea, South          1          0       0
165    2020-01-22           Taiwan*          1          0       0
...           ...               ...        ...        ...     ...
21217  2020-05-13          Suriname         10          9       1
21160  2020-05-13        MS Zaandam          9          0       2
21188  2020-05-13  Papua New Guinea          8          8       0
21240  2020-05-13    Western Sahara          6          6       0
21154  2020-05-13           Lesotho          1          0       0

[21244 rows x 5 columns]

In [55]:
for date in dates: 
    day = sorteddata[sorteddata[date_index].str.contains(date)]
    for indx, row in day.iterrows():
        print(row[2:])
        break

Confirmed    548
Recovered     28
Deaths        17
Name: 36, dtype: object
Confirmed    643
Recovered     30
Deaths        18
Name: 224, dtype: object
Confirmed    920
Recovered     36
Deaths        26
Name: 412, dtype: object
Confirmed    1406
Recovered      39
Deaths         42
Name: 600, dtype: object
Confirmed    2075
Recovered      49
Deaths         56
Name: 788, dtype: object
Confirmed    2877
Recovered      58
Deaths         82
Name: 976, dtype: object
Confirmed    5509
Recovered     101
Deaths        131
Name: 1164, dtype: object
Confirmed    6087
Recovered     120
Deaths        133
Name: 1352, dtype: object
Confirmed    8141
Recovered     135
Deaths        171
Name: 1540, dtype: object
Confirmed    9802
Recovered     214
Deaths        213
Name: 1728, dtype: object
Confirmed    11891
Recovered      275
Deaths         259
Name: 1916, dtype: object
Confirmed    16630
Recovered      463
Deaths         361
Name: 2104, dtype: object
Confirmed    19716
Recovered      614
Deaths         425
Name: 2292, dtype: object
Confirmed    23707
Recovered      843
Deaths         491
Name: 2480, dtype: object
Confirmed    27440
Recovered     1115
Deaths         563
Name: 2668, dtype: object
Confirmed    30587
Recovered     1477
Deaths         633
Name: 2856, dtype: object
Confirmed    34110
Recovered     1999
Deaths         718
Name: 3044, dtype: object
Confirmed    36814
Recovered     2596
Deaths         805
Name: 3232, dtype: object
Confirmed    39829
Recovered     3219
Deaths         905
Name: 3420, dtype: object
Confirmed    42354
Recovered     3918
Deaths        1012
Name: 3608, dtype: object
Confirmed    44386
Recovered     4636
Deaths        1112
Name: 3796, dtype: object
Confirmed    44759
Recovered     5082
Deaths        1117
Name: 3984, dtype: object
Confirmed    59895
Recovered     6217
Deaths        1369
Name: 4172, dtype: object
Confirmed    66358
Recovered     7977
Deaths        1521
Name: 4360, dtype: object
Confirmed    68413
Recovered     9298
Deaths        1663
Name: 4548, dtype: object
Confirmed    70513
Recovered    10755
Deaths        1766
Name: 4736, dtype: object
Confirmed    72434
Recovered    12462
Deaths        1864
Name: 4924, dtype: object
Confirmed    74211
Recovered    14206
Deaths        2003
Name: 5112, dtype: object
Confirmed    74619
Recovered    15962
Deaths        2116
Name: 5300, dtype: object
Confirmed    75077
Recovered    18014
Deaths        2238
Name: 5488, dtype: object
Confirmed    75550
Recovered    18704
Deaths        2238
Name: 5676, dtype: object
Confirmed    77001
Recovered    22699
Deaths        2443
Name: 5864, dtype: object
Confirmed    77022
Recovered    23187
Deaths        2445
Name: 6052, dtype: object
Confirmed    77241
Recovered    25015
Deaths        2595
Name: 6240, dtype: object
Confirmed    77754
Recovered    27676
Deaths        2665
Name: 6428, dtype: object
Confirmed    78166
Recovered    30084
Deaths        2717
Name: 6616, dtype: object
Confirmed    78600
Recovered    32930
Deaths        2746
Name: 6804, dtype: object
Confirmed    78928
Recovered    36329
Deaths        2790
Name: 6992, dtype: object
Confirmed    79356
Recovered    39320
Deaths        2837
Name: 7180, dtype: object
Confirmed    79932
Recovered    42162
Deaths        2872
Name: 7368, dtype: object
Confirmed    80136
Recovered    44854
Deaths        2914
Name: 7556, dtype: object
Confirmed    80261
Recovered    47450
Deaths        2947
Name: 7744, dtype: object
Confirmed    80386
Recovered    50001
Deaths        2983
Name: 7932, dtype: object
Confirmed    80537
Recovered    52292
Deaths        3015
Name: 8120, dtype: object
Confirmed    80690
Recovered    53944
Deaths        3044
Name: 8308, dtype: object
Confirmed    80770
Recovered    55539
Deaths        3072
Name: 8496, dtype: object
Confirmed    80823
Recovered    57388
Deaths        3100
Name: 8684, dtype: object
Confirmed    80860
Recovered    58804
Deaths        3123
Name: 8872, dtype: object
Confirmed    80887
Recovered    60181
Deaths        3139
Name: 9060, dtype: object
Confirmed    80921
Recovered    61644
Deaths        3161
Name: 9248, dtype: object
Confirmed    80932
Recovered    62901
Deaths        3172
Name: 9436, dtype: object
Confirmed    80945
Recovered    64196
Deaths        3180
Name: 9624, dtype: object
Confirmed    80977
Recovered    65660
Deaths        3193
Name: 9812, dtype: object
Confirmed    81003
Recovered    67017
Deaths        3203
Name: 10000, dtype: object
Confirmed    81033
Recovered    67910
Deaths        3217
Name: 10188, dtype: object
Confirmed    81058
Recovered    68798
Deaths        3230
Name: 10376, dtype: object
Confirmed    81102
Recovered    69755
Deaths        3241
Name: 10564, dtype: object
Confirmed    81156
Recovered    70535
Deaths        3249
Name: 10752, dtype: object
Confirmed    81250
Recovered    71266
Deaths        3253
Name: 10940, dtype: object
Confirmed    81305
Recovered    71857
Deaths        3259
Name: 11128, dtype: object
Confirmed    81435
Recovered    72362
Deaths        3274
Name: 11316, dtype: object
Confirmed    81498
Recovered    72814
Deaths        3274
Name: 11504, dtype: object
Confirmed    81591
Recovered    73280
Deaths        3281
Name: 11692, dtype: object
Confirmed    81661
Recovered    73773
Deaths        3285
Name: 11880, dtype: object
Confirmed    83836
Recovered      681
Deaths        1726
Name: 12206, dtype: object
Confirmed    101657
Recovered       869
Deaths         2265
Name: 12394, dtype: object
Confirmed    121465
Recovered      1072
Deaths         2731
Name: 12582, dtype: object
Confirmed    140909
Recovered      2665
Deaths         3420
Name: 12770, dtype: object
Confirmed    161831
Recovered      5644
Deaths         4192
Name: 12958, dtype: object
Confirmed    188172
Recovered      7024
Deaths         5367
Name: 13146, dtype: object
Confirmed    213242
Recovered      8474
Deaths         6501
Name: 13334, dtype: object
Confirmed    243622
Recovered      9001
Deaths         7921
Name: 13522, dtype: object
Confirmed    275367
Recovered      9707
Deaths         9246
Name: 13710, dtype: object
Confirmed    308650
Recovered     14652
Deaths        10855
Name: 13898, dtype: object
Confirmed    336802
Recovered     17448
Deaths        12375
Name: 14086, dtype: object
Confirmed    366317
Recovered     19581
Deaths        13894
Name: 14274, dtype: object
Confirmed    397121
Recovered     21763
Deaths        16191
Name: 14462, dtype: object
Confirmed    428654
Recovered     23559
Deaths        18270
Name: 14650, dtype: object
Confirmed    462780
Recovered     25410
Deaths        20255
Name: 14838, dtype: object
Confirmed    496535
Recovered     28790
Deaths        22333
Name: 15026, dtype: object
Confirmed    526396
Recovered     31270
Deaths        24342
Name: 15214, dtype: object
Confirmed    555313
Recovered     32988
Deaths        26086
Name: 15402, dtype: object
Confirmed    580619
Recovered     43482
Deaths        27870
Name: 15590, dtype: object
Confirmed    607670
Recovered     47763
Deaths        30262
Name: 15778, dtype: object
Confirmed    636350
Recovered     52096
Deaths        32734
Name: 15966, dtype: object
Confirmed    667592
Recovered     54703
Deaths        34827
Name: 16154, dtype: object
Confirmed    699706
Recovered     58545
Deaths        37411
Name: 16342, dtype: object
Confirmed    732197
Recovered     64840
Deaths        39753
Name: 16530, dtype: object
Confirmed    758809
Recovered     70337
Deaths        40945
Name: 16718, dtype: object
Confirmed    784326
Recovered     72329
Deaths        42659
Name: 16906, dtype: object
Confirmed    811865
Recovered     75204
Deaths        45086
Name: 17094, dtype: object
Confirmed    840351
Recovered     77366
Deaths        47412
Name: 17282, dtype: object
Confirmed    869170
Recovered     80203
Deaths        49724
Name: 17470, dtype: object
Confirmed    905358
Recovered     99079
Deaths        51493
Name: 17658, dtype: object
Confirmed    938154
Recovered    100372
Deaths        53755
Name: 17846, dtype: object
Confirmed    965785
Recovered    106988
Deaths        54881
Name: 18034, dtype: object
Confirmed    988197
Recovered    111424
Deaths        56219
Name: 18222, dtype: object
Confirmed    1012582
Recovered     115936
Deaths         58355
Name: 18410, dtype: object
Confirmed    1039909
Recovered     120720
Deaths         60967
Name: 18598, dtype: object
Confirmed    1069424
Recovered     153947
Deaths         62996
Name: 18786, dtype: object
Confirmed    1103461
Recovered     164015
Deaths         64943
Name: 18974, dtype: object
Confirmed    1132539
Recovered     175382
Deaths         66369
Name: 19162, dtype: object

Confirmed    1158040
Recovered     180152
Deaths         67682
Name: 19350, dtype: object
Confirmed    1180375
Recovered     187180
Deaths         68922
Name: 19538, dtype: object
Confirmed    1204351
Recovered     189791
Deaths         71064
Name: 19726, dtype: object
Confirmed    1229331
Recovered     189910
Deaths         73455
Name: 19914, dtype: object
Confirmed    1257023
Recovered     195036
Deaths         75662
Name: 20102, dtype: object
Confirmed    1283929
Recovered     198993
Deaths         77180
Name: 20290, dtype: object
Confirmed    1309550
Recovered     212534
Deaths         78795
Name: 20478, dtype: object
Confirmed    1329260
Recovered     216169
Deaths         79526
Name: 20666, dtype: object
Confirmed    1347881
Recovered     232733
Deaths         80682
Name: 20854, dtype: object
Confirmed    1369376
Recovered     230287
Deaths         82356
Name: 21042, dtype: object
Confirmed    1390406
Recovered     243430
Deaths         84119
Name: 21230, dtype: object

In [58]:
difference = abs(data_agg.iloc[:, 2:].diff(periods=188, axis=0))

In [61]:
test =pd.concat([data_agg.iloc[:, :2], difference], axis=1)
test

             Date             Country  Confirmed  Recovered  Deaths
0      2020-01-22         Afghanistan        NaN        NaN     NaN
1      2020-01-22             Albania        NaN        NaN     NaN
2      2020-01-22             Algeria        NaN        NaN     NaN
3      2020-01-22             Andorra        NaN        NaN     NaN
4      2020-01-22              Angola        NaN        NaN     NaN
...           ...                 ...        ...        ...     ...
21239  2020-05-13  West Bank and Gaza        0.0        2.0     0.0
21240  2020-05-13      Western Sahara        0.0        0.0     0.0
21241  2020-05-13               Yemen        5.0        0.0     2.0
21242  2020-05-13              Zambia        5.0        7.0     0.0
21243  2020-05-13            Zimbabwe        1.0        3.0     0.0

[21244 rows x 5 columns]

In [65]:
test.iloc[:188, :] = data_agg.iloc[:188, :]
test

             Date             Country  Confirmed  Recovered  Deaths
0      2020-01-22         Afghanistan        0.0        0.0     0.0
1      2020-01-22             Albania        0.0        0.0     0.0
2      2020-01-22             Algeria        0.0        0.0     0.0
3      2020-01-22             Andorra        0.0        0.0     0.0
4      2020-01-22              Angola        0.0        0.0     0.0
...           ...                 ...        ...        ...     ...
21239  2020-05-13  West Bank and Gaza        0.0        2.0     0.0
21240  2020-05-13      Western Sahara        0.0        0.0     0.0
21241  2020-05-13               Yemen        5.0        0.0     2.0
21242  2020-05-13              Zambia        5.0        7.0     0.0
21243  2020-05-13            Zimbabwe        1.0        3.0     0.0

[21244 rows x 5 columns]

In [66]:
test.to_csv("../COVID-19 Data/test.csv")

In [67]:
sorteddata = test[test[date_index].str.contains(dates[0])].sort_values(by=list(test.columns[2:]), ascending= False)
dates.remove(dates[0])
for date in dates :
    srtdata = test[test[date_index].str.contains(date)].sort_values(by=list(test.columns[2:]), ascending= False)
    print(srtdata)
    sorteddata = pd.concat([sorteddata, srtdata])
    
dates = list(dict.fromkeys(sorteddata.loc[:, date_index]))
sorteddata

           Date             Country  Confirmed  Recovered  Deaths
224  2020-01-23               China       95.0        2.0     1.0
370  2020-01-23             Vietnam        2.0        0.0     0.0
340  2020-01-23           Singapore        1.0        0.0     0.0
356  2020-01-23            Thailand        1.0        0.0     0.0
188  2020-01-23         Afghanistan        0.0        0.0     0.0
..          ...                 ...        ...        ...     ...
371  2020-01-23  West Bank and Gaza        0.0        0.0     0.0
372  2020-01-23      Western Sahara        0.0        0.0     0.0
373  2020-01-23               Yemen        0.0        0.0     0.0
374  2020-01-23              Zambia        0.0        0.0     0.0
375  2020-01-23            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
           Date             Country  Confirmed  Recovered  Deaths
412  2020-01-24               China      277.0        6.0     8.0
438  2020-01-24              France        2.0        0.0     0.0
528  2020-01-24           Singapore        2.0        0.0     0.0
541  2020-01-24             Taiwan*        2.0        0.0     0.0
544  2020-01-24            Thailand        2.0        0.0     0.0
..          ...                 ...        ...        ...     ...
559  2020-01-24  West Bank and Gaza        0.0        0.0     0.0
560  2020-01-24      Western Sahara        0.0        0.0     0.0
561  2020-01-24               Yemen        0.0        0.0     0.0
562  2020-01-24              Zambia        0.0        0.0     0.0
563  2020-01-24            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
           Date             Country  Confirmed  Recovered  Deaths
600  2020-01-25               China      486.0        3.0    16.0
671  2020-01-25            Malaysia        3.0        0.0     0.0
732  2020-01-25            Thailand        2.0        0.0     0.0
626  2020-01-25              France        1.0        0.0     0.0
685  2020-01-25               Nepal        1.0        0.0     0.0
..          ...                 ...        ...        ...     ...
747  2020-01-25  West Bank and Gaza        0.0        0.0     0.0
748  2020-01-25      Western Sahara        0.0        0.0     0.0
749  2020-01-25               Yemen        0.0        0.0     0.0
750  2020-01-25              Zambia        0.0        0.0     0.0
751  2020-01-25            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
           Date             Country  Confirmed  Recovered  Deaths
788  2020-01-26               China      669.0       10.0    14.0
760  2020-01-26           Australia        4.0        0.0     0.0
926  2020-01-26                  US        3.0        0.0     0.0
839  2020-01-26               Japan        2.0        1.0     0.0
920  2020-01-26            Thailand        1.0        2.0     0.0
..          ...                 ...        ...        ...     ...
935  2020-01-26  West Bank and Gaza        0.0        0.0     0.0
936  2020-01-26      Western Sahara        0.0        0.0     0.0
937  2020-01-26               Yemen        0.0        0.0     0.0
938  2020-01-26              Zambia        0.0        0.0     0.0
939  2020-01-26            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
976   2020-01-27               China      802.0        9.0    26.0
948   2020-01-27           Australia        1.0        0.0     0.0
970   2020-01-27            Cambodia        1.0        0.0     0.0
1006  2020-01-27             Germany        1.0        0.0     0.0
1031  2020-01-27        Korea, South        1.0        0.0     0.0
...          ...                 ...        ...        ...     ...
1123  2020-01-27  West Bank and Gaza        0.0        0.0     0.0
1124  2020-01-27      Western Sahara        0.0        0.0     0.0
1125  2020-01-27               Yemen        0.0        0.0     0.0
1126  2020-01-27              Zambia        0.0        0.0     0.0
1127  2020-01-27            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
1164  2020-01-28               China     2632.0       43.0    49.0
1296  2020-01-28            Thailand        6.0        3.0     0.0
1194  2020-01-28             Germany        3.0        0.0     0.0
1215  2020-01-28               Japan        3.0        0.0     0.0
1293  2020-01-28             Taiwan*        3.0        0.0     0.0
...          ...                 ...        ...        ...     ...
1311  2020-01-28  West Bank and Gaza        0.0        0.0     0.0
1312  2020-01-28      Western Sahara        0.0        0.0     0.0
1313  2020-01-28               Yemen        0.0        0.0     0.0
1314  2020-01-28              Zambia        0.0        0.0     0.0
1315  2020-01-28            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date               Country  Confirmed  Recovered  Deaths
1352  2020-01-29                 China      578.0       19.0     2.0
1493  2020-01-29  United Arab Emirates        4.0        0.0     0.0
1423  2020-01-29              Malaysia        3.0        0.0     0.0
1324  2020-01-29             Australia        1.0        0.0     0.0
1377  2020-01-29               Finland        1.0        0.0     0.0
...          ...                   ...        ...        ...     ...
1499  2020-01-29    West Bank and Gaza        0.0        0.0     0.0
1500  2020-01-29        Western Sahara        0.0        0.0     0.0
1501  2020-01-29                 Yemen        0.0        0.0     0.0
1502  2020-01-29                Zambia        0.0        0.0     0.0
1503  2020-01-29              Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
1540  2020-01-30               China     2054.0       15.0    38.0
1591  2020-01-30               Japan        4.0        0.0     0.0
1512  2020-01-30           Australia        3.0        2.0     0.0
1656  2020-01-30           Singapore        3.0        0.0     0.0
1583  2020-01-30               India        1.0        0.0     0.0
...          ...                 ...        ...        ...     ...
1687  2020-01-30  West Bank and Gaza        0.0        0.0     0.0
1688  2020-01-30      Western Sahara        0.0        0.0     0.0
1689  2020-01-30               Yemen        0.0        0.0     0.0
1690  2020-01-30              Zambia        0.0        0.0     0.0
1691  2020-01-30            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
1728  2020-01-31               China     1661.0       79.0    42.0
1783  2020-01-31        Korea, South        7.0        0.0     0.0
1860  2020-01-31            Thailand        5.0        0.0     0.0
1779  2020-01-31               Japan        4.0        0.0     0.0
1844  2020-01-31           Singapore        3.0        0.0     0.0
...          ...                 ...        ...        ...     ...
1875  2020-01-31  West Bank and Gaza        0.0        0.0     0.0
1876  2020-01-31      Western Sahara        0.0        0.0     0.0
1877  2020-01-31               Yemen        0.0        0.0     0.0
1878  2020-01-31              Zambia        0.0        0.0     0.0
1879  2020-01-31            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
1916  2020-02-01               China     2089.0       61.0    46.0
1967  2020-02-01               Japan        5.0        0.0     0.0
2062  2020-02-01             Vietnam        4.0        1.0     0.0
1888  2020-02-01           Australia        3.0        0.0     0.0
1946  2020-02-01             Germany        3.0        0.0     0.0
...          ...                 ...        ...        ...     ...
2063  2020-02-01  West Bank and Gaza        0.0        0.0     0.0
2064  2020-02-01      Western Sahara        0.0        0.0     0.0
2065  2020-02-01               Yemen        0.0        0.0     0.0
2066  2020-02-01              Zambia        0.0        0.0     0.0
2067  2020-02-01            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
2104  2020-02-02               China     4739.0      188.0   102.0
2159  2020-02-02        Korea, South        3.0        0.0     0.0
2134  2020-02-02             Germany        2.0        0.0     0.0
2220  2020-02-02           Singapore        2.0        0.0     0.0
2203  2020-02-02         Philippines        1.0        0.0     1.0
...          ...                 ...        ...        ...     ...
2251  2020-02-02  West Bank and Gaza        0.0        0.0     0.0
2252  2020-02-02      Western Sahara        0.0        0.0     0.0
2253  2020-02-02               Yemen        0.0        0.0     0.0
2254  2020-02-02              Zambia        0.0        0.0     0.0
2255  2020-02-02            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
2292  2020-02-03               China     3086.0      151.0    64.0
2430  2020-02-03                  US        3.0        0.0     0.0
2322  2020-02-03             Germany        2.0        0.0     0.0
2438  2020-02-03             Vietnam        2.0        0.0     0.0
2335  2020-02-03               India        1.0        0.0     0.0
...          ...                 ...        ...        ...     ...
2439  2020-02-03  West Bank and Gaza        0.0        0.0     0.0
2440  2020-02-03      Western Sahara        0.0        0.0     0.0
2441  2020-02-03               Yemen        0.0        0.0     0.0
2442  2020-02-03              Zambia        0.0        0.0     0.0
2443  2020-02-03            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
2480  2020-02-04               China     3991.0      229.0    66.0
2596  2020-02-04           Singapore        6.0        0.0     0.0
2612  2020-02-04            Thailand        6.0        0.0     0.0
2531  2020-02-04               Japan        2.0        0.0     0.0
2551  2020-02-04            Malaysia        2.0        0.0     0.0
...          ...                 ...        ...        ...     ...
2627  2020-02-04  West Bank and Gaza        0.0        0.0     0.0
2628  2020-02-04      Western Sahara        0.0        0.0     0.0
2629  2020-02-04               Yemen        0.0        0.0     0.0
2630  2020-02-04              Zambia        0.0        0.0     0.0
2631  2020-02-04            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
2668  2020-02-05               China     3733.0      272.0    72.0
2784  2020-02-05           Singapore        4.0        0.0     0.0
2723  2020-02-05        Korea, South        3.0        0.0     0.0
2739  2020-02-05            Malaysia        2.0        0.0     0.0
2664  2020-02-05              Canada        1.0        0.0     0.0
...          ...                 ...        ...        ...     ...
2815  2020-02-05  West Bank and Gaza        0.0        0.0     0.0
2816  2020-02-05      Western Sahara        0.0        0.0     0.0
2817  2020-02-05               Yemen        0.0        0.0     0.0
2818  2020-02-05              Zambia        0.0        0.0     0.0
2819  2020-02-05            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
2856  2020-02-06               China     3147.0      362.0    70.0
2985  2020-02-06             Taiwan*        5.0        1.0     0.0
2911  2020-02-06        Korea, South        4.0        0.0     0.0
3002  2020-02-06             Vietnam        2.0        0.0     0.0
2828  2020-02-06           Australia        1.0        0.0     0.0
...          ...                 ...        ...        ...     ...
3003  2020-02-06  West Bank and Gaza        0.0        0.0     0.0
3004  2020-02-06      Western Sahara        0.0        0.0     0.0
3005  2020-02-06               Yemen        0.0        0.0     0.0
3006  2020-02-06              Zambia        0.0        0.0     0.0
3007  2020-02-06            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
3044  2020-02-07               China     3523.0      522.0    85.0
3056  2020-02-07    Diamond Princess       61.0        0.0     0.0
3095  2020-02-07               Japan        3.0        0.0     0.0
3040  2020-02-07              Canada        2.0        0.0     0.0
3160  2020-02-07           Singapore        2.0        0.0     0.0
...          ...                 ...        ...        ...     ...
3191  2020-02-07  West Bank and Gaza        0.0        0.0     0.0
3192  2020-02-07      Western Sahara        0.0        0.0     0.0
3193  2020-02-07               Yemen        0.0        0.0     0.0
3194  2020-02-07              Zambia        0.0        0.0     0.0
3195  2020-02-07            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
3232  2020-02-08               China     2704.0      597.0    87.0
3364  2020-02-08            Thailand        7.0        5.0     0.0
3258  2020-02-08              France        5.0        0.0     0.0
3303  2020-02-08            Malaysia        4.0        0.0     0.0
3348  2020-02-08           Singapore        3.0        2.0     0.0
...          ...                 ...        ...        ...     ...
3379  2020-02-08  West Bank and Gaza        0.0        0.0     0.0
3380  2020-02-08      Western Sahara        0.0        0.0     0.0
3381  2020-02-08               Yemen        0.0        0.0     0.0
3382  2020-02-08              Zambia        0.0        0.0     0.0
3383  2020-02-08            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]

            Date             Country  Confirmed  Recovered  Deaths
3420  2020-02-09               China     3015.0      623.0   100.0
3536  2020-02-09           Singapore        7.0        0.0     0.0
3432  2020-02-09    Diamond Princess        3.0        0.0     0.0
3475  2020-02-09        Korea, South        1.0        2.0     0.0
3450  2020-02-09             Germany        1.0        0.0     0.0
...          ...                 ...        ...        ...     ...
3567  2020-02-09  West Bank and Gaza        0.0        0.0     0.0
3568  2020-02-09      Western Sahara        0.0        0.0     0.0
3569  2020-02-09               Yemen        0.0        0.0     0.0
3570  2020-02-09              Zambia        0.0        0.0     0.0
3571  2020-02-09            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
3608  2020-02-10               China     2525.0      699.0   107.0
3620  2020-02-10    Diamond Princess       71.0        0.0     0.0
3724  2020-02-10           Singapore        5.0        0.0     0.0
3750  2020-02-10      United Kingdom        5.0        0.0     0.0
3663  2020-02-10        Korea, South        2.0        0.0     0.0
...          ...                 ...        ...        ...     ...
3755  2020-02-10  West Bank and Gaza        0.0        0.0     0.0
3756  2020-02-10      Western Sahara        0.0        0.0     0.0
3757  2020-02-10               Yemen        0.0        0.0     0.0
3758  2020-02-10              Zambia        0.0        0.0     0.0
3759  2020-02-10            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
3796  2020-02-11               China     2032.0      718.0   100.0
3912  2020-02-11           Singapore        2.0        7.0     0.0
3826  2020-02-11             Germany        2.0        0.0     0.0
3942  2020-02-11             Vietnam        1.0        5.0     0.0
3851  2020-02-11        Korea, South        1.0        0.0     0.0
...          ...                 ...        ...        ...     ...
3943  2020-02-11  West Bank and Gaza        0.0        0.0     0.0
3944  2020-02-11      Western Sahara        0.0        0.0     0.0
3945  2020-02-11               Yemen        0.0        0.0     0.0
3946  2020-02-11              Zambia        0.0        0.0     0.0
3947  2020-02-11            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
3984  2020-02-12               China      373.0      446.0     5.0
3996  2020-02-12    Diamond Princess       40.0        0.0     0.0
4100  2020-02-12           Singapore        3.0        6.0     0.0
4035  2020-02-12               Japan        2.0        0.0     0.0
4126  2020-02-12      United Kingdom        1.0        1.0     0.0
...          ...                 ...        ...        ...     ...
4131  2020-02-12  West Bank and Gaza        0.0        0.0     0.0
4132  2020-02-12      Western Sahara        0.0        0.0     0.0
4133  2020-02-12               Yemen        0.0        0.0     0.0
4134  2020-02-12              Zambia        0.0        0.0     0.0
4135  2020-02-12            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
4172  2020-02-13               China    15136.0     1135.0   252.0
4288  2020-02-13           Singapore        8.0        0.0     0.0
4318  2020-02-13             Vietnam        1.0        1.0     0.0
4243  2020-02-13            Malaysia        1.0        0.0     0.0
4310  2020-02-13                  US        1.0        0.0     0.0
...          ...                 ...        ...        ...     ...
4319  2020-02-13  West Bank and Gaza        0.0        0.0     0.0
4320  2020-02-13      Western Sahara        0.0        0.0     0.0
4321  2020-02-13               Yemen        0.0        0.0     0.0
4322  2020-02-13              Zambia        0.0        0.0     0.0
4323  2020-02-13            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
4360  2020-02-14               China     6463.0     1760.0   152.0
4372  2020-02-14    Diamond Princess       43.0        0.0     0.0
4476  2020-02-14           Singapore        9.0        2.0     0.0
4377  2020-02-14               Egypt        1.0        0.0     0.0
4411  2020-02-14               Japan        1.0        0.0     0.0
...          ...                 ...        ...        ...     ...
4507  2020-02-14  West Bank and Gaza        0.0        0.0     0.0
4508  2020-02-14      Western Sahara        0.0        0.0     0.0
4509  2020-02-14               Yemen        0.0        0.0     0.0
4510  2020-02-14              Zambia        0.0        0.0     0.0
4511  2020-02-14            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
4548  2020-02-15               China     2055.0     1321.0   142.0
4560  2020-02-15    Diamond Princess       67.0        0.0     0.0
4599  2020-02-15               Japan       14.0        3.0     0.0
4664  2020-02-15           Singapore        5.0        1.0     0.0
4619  2020-02-15            Malaysia        3.0        4.0     0.0
...          ...                 ...        ...        ...     ...
4695  2020-02-15  West Bank and Gaza        0.0        0.0     0.0
4696  2020-02-15      Western Sahara        0.0        0.0     0.0
4697  2020-02-15               Yemen        0.0        0.0     0.0
4698  2020-02-15              Zambia        0.0        0.0     0.0
4699  2020-02-15            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
4736  2020-02-16               China     2100.0     1457.0   103.0
4748  2020-02-16    Diamond Princess       70.0        0.0     0.0
4787  2020-02-16               Japan       16.0        0.0     0.0
4852  2020-02-16           Singapore        3.0        0.0     0.0
4865  2020-02-16             Taiwan*        2.0        0.0     1.0
...          ...                 ...        ...        ...     ...
4883  2020-02-16  West Bank and Gaza        0.0        0.0     0.0
4884  2020-02-16      Western Sahara        0.0        0.0     0.0
4885  2020-02-16               Yemen        0.0        0.0     0.0
4886  2020-02-16              Zambia        0.0        0.0     0.0
4887  2020-02-16            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
4924  2020-02-17               China     1921.0     1707.0    98.0
4936  2020-02-17    Diamond Princess       99.0        0.0     0.0
4975  2020-02-17               Japan        7.0        0.0     0.0
5040  2020-02-17           Singapore        2.0        6.0     0.0
5053  2020-02-17             Taiwan*        2.0        0.0     0.0
...          ...                 ...        ...        ...     ...
5071  2020-02-17  West Bank and Gaza        0.0        0.0     0.0
5072  2020-02-17      Western Sahara        0.0        0.0     0.0
5073  2020-02-17               Yemen        0.0        0.0     0.0
5074  2020-02-17              Zambia        0.0        0.0     0.0
5075  2020-02-17            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
5112  2020-02-18               China     1777.0     1744.0   139.0
5124  2020-02-18    Diamond Princess       88.0        0.0     0.0
5163  2020-02-18               Japan        8.0        1.0     0.0
5228  2020-02-18           Singapore        4.0        5.0     0.0
5167  2020-02-18        Korea, South        1.0        2.0     0.0
...          ...                 ...        ...        ...     ...
5259  2020-02-18  West Bank and Gaza        0.0        0.0     0.0
5260  2020-02-18      Western Sahara        0.0        0.0     0.0
5261  2020-02-18               Yemen        0.0        0.0     0.0
5262  2020-02-18              Zambia        0.0        0.0     0.0
5263  2020-02-18            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
5300  2020-02-19               China      408.0     1756.0   113.0
5312  2020-02-19    Diamond Princess       79.0        1.0     0.0
5351  2020-02-19               Japan       10.0        5.0     0.0
5416  2020-02-19           Singapore        3.0        5.0     0.0
5345  2020-02-19                Iran        2.0        0.0     2.0
...          ...                 ...        ...        ...     ...
5447  2020-02-19  West Bank and Gaza        0.0        0.0     0.0
5448  2020-02-19      Western Sahara        0.0        0.0     0.0
5449  2020-02-19               Yemen        0.0        0.0     0.0
5450  2020-02-19              Zambia        0.0        0.0     0.0
5451  2020-02-19            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
5488  2020-02-20               China      458.0     2052.0   122.0
5543  2020-02-20        Korea, South       73.0        4.0     1.0
5500  2020-02-20    Diamond Princess       13.0        0.0     2.0
5539  2020-02-20               Japan       10.0        0.0     0.0
5533  2020-02-20                Iran        3.0        0.0     0.0
...          ...                 ...        ...        ...     ...
5635  2020-02-20  West Bank and Gaza        0.0        0.0     0.0
5636  2020-02-20      Western Sahara        0.0        0.0     0.0
5637  2020-02-20               Yemen        0.0        0.0     0.0
5638  2020-02-20              Zambia        0.0        0.0     0.0
5639  2020-02-20            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
5676  2020-02-21               China      473.0      690.0     0.0
5731  2020-02-21        Korea, South      100.0        0.0     1.0
5725  2020-02-21               Italy       17.0        0.0     1.0
5721  2020-02-21                Iran       13.0        0.0     2.0
5727  2020-02-21               Japan       11.0        4.0     0.0
...          ...                 ...        ...        ...     ...
5823  2020-02-21  West Bank and Gaza        0.0        0.0     0.0
5824  2020-02-21      Western Sahara        0.0        0.0     0.0
5825  2020-02-21               Yemen        0.0        0.0     0.0
5826  2020-02-21              Zambia        0.0        0.0     0.0
5827  2020-02-21            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
5864  2020-02-22               China     1451.0     3995.0   205.0
5919  2020-02-22        Korea, South      229.0        0.0     0.0
5913  2020-02-22               Italy       42.0        1.0     1.0
5915  2020-02-22               Japan       17.0        0.0     0.0
5909  2020-02-22                Iran       10.0        0.0     1.0
...          ...                 ...        ...        ...     ...
6011  2020-02-22  West Bank and Gaza        0.0        0.0     0.0
6012  2020-02-22      Western Sahara        0.0        0.0     0.0
6013  2020-02-22               Yemen        0.0        0.0     0.0
6014  2020-02-22              Zambia        0.0        0.0     0.0
6015  2020-02-22            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
6107  2020-02-23        Korea, South      169.0        2.0     4.0
6101  2020-02-23               Italy       93.0        1.0     1.0
6064  2020-02-23    Diamond Princess       57.0        1.0     1.0
6103  2020-02-23               Japan       25.0        0.0     0.0
6052  2020-02-23               China       21.0      488.0     2.0
...          ...                 ...        ...        ...     ...
6199  2020-02-23  West Bank and Gaza        0.0        0.0     0.0
6200  2020-02-23      Western Sahara        0.0        0.0     0.0
6201  2020-02-23               Yemen        0.0        0.0     0.0
6202  2020-02-23              Zambia        0.0        0.0     0.0
6203  2020-02-23            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
6295  2020-02-24        Korea, South      231.0        0.0     2.0
6240  2020-02-24               China      219.0     1828.0   150.0
6289  2020-02-24               Italy       74.0        1.0     4.0
6378  2020-02-24                  US       36.0        0.0     0.0
6285  2020-02-24                Iran       18.0        0.0     4.0
...          ...                 ...        ...        ...     ...
6387  2020-02-24  West Bank and Gaza        0.0        0.0     0.0
6388  2020-02-24      Western Sahara        0.0        0.0     0.0
6389  2020-02-24               Yemen        0.0        0.0     0.0
6390  2020-02-24              Zambia        0.0        0.0     0.0
6391  2020-02-24            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
6428  2020-02-25               China      513.0     2661.0    70.0
6483  2020-02-25        Korea, South      144.0        4.0     2.0
6477  2020-02-25               Italy       93.0        0.0     3.0
6473  2020-02-25                Iran       34.0        0.0     4.0
6404  2020-02-25             Bahrain       22.0        0.0     0.0
...          ...                 ...        ...        ...     ...
6575  2020-02-25  West Bank and Gaza        0.0        0.0     0.0
6576  2020-02-25      Western Sahara        0.0        0.0     0.0
6577  2020-02-25               Yemen        0.0        0.0     0.0
6578  2020-02-25              Zambia        0.0        0.0     0.0
6579  2020-02-25            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]

            Date             Country  Confirmed  Recovered  Deaths
6616  2020-02-26               China      412.0     2408.0    52.0
6671  2020-02-26        Korea, South      284.0        0.0     2.0
6665  2020-02-26               Italy      131.0        2.0     2.0
6661  2020-02-26                Iran       44.0       49.0     3.0
6667  2020-02-26               Japan       19.0        0.0     1.0
...          ...                 ...        ...        ...     ...
6763  2020-02-26  West Bank and Gaza        0.0        0.0     0.0
6764  2020-02-26      Western Sahara        0.0        0.0     0.0
6765  2020-02-26               Yemen        0.0        0.0     0.0
6766  2020-02-26              Zambia        0.0        0.0     0.0
6767  2020-02-26            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
6859  2020-02-27        Korea, South      505.0        0.0     1.0
6804  2020-02-27               China      434.0     2846.0    29.0
6853  2020-02-27               Italy      202.0       42.0     5.0
6849  2020-02-27                Iran      106.0        0.0     7.0
6855  2020-02-27               Japan       25.0        0.0     2.0
...          ...                 ...        ...        ...     ...
6951  2020-02-27  West Bank and Gaza        0.0        0.0     0.0
6952  2020-02-27      Western Sahara        0.0        0.0     0.0
6953  2020-02-27               Yemen        0.0        0.0     0.0
6954  2020-02-27              Zambia        0.0        0.0     0.0
6955  2020-02-27            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7047  2020-02-28        Korea, South      571.0        0.0     0.0
6992  2020-02-28               China      328.0     3399.0    44.0
7041  2020-02-28               Italy      233.0        1.0     4.0
7037  2020-02-28                Iran      143.0       24.0     8.0
7018  2020-02-28              France       19.0        0.0     0.0
...          ...                 ...        ...        ...     ...
7139  2020-02-28  West Bank and Gaza        0.0        0.0     0.0
7140  2020-02-28      Western Sahara        0.0        0.0     0.0
7141  2020-02-28               Yemen        0.0        0.0     0.0
7142  2020-02-28              Zambia        0.0        0.0     0.0
7143  2020-02-28            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7235  2020-02-29        Korea, South      813.0        5.0     3.0
7180  2020-02-29               China      428.0     2991.0    47.0
7229  2020-02-29               Italy      240.0        0.0     8.0
7225  2020-02-29                Iran      205.0       50.0     9.0
7206  2020-02-29              France       43.0        1.0     0.0
...          ...                 ...        ...        ...     ...
7327  2020-02-29  West Bank and Gaza        0.0        0.0     0.0
7328  2020-02-29      Western Sahara        0.0        0.0     0.0
7329  2020-02-29               Yemen        0.0        0.0     0.0
7330  2020-02-29              Zambia        0.0        0.0     0.0
7331  2020-02-29            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7423  2020-03-01        Korea, South      586.0        3.0     1.0
7368  2020-03-01               China      576.0     2842.0    35.0
7417  2020-03-01               Italy      566.0       37.0     5.0
7413  2020-03-01                Iran      385.0       52.0    11.0
7398  2020-03-01             Germany       51.0        0.0     0.0
...          ...                 ...        ...        ...     ...
7515  2020-03-01  West Bank and Gaza        0.0        0.0     0.0
7516  2020-03-01      Western Sahara        0.0        0.0     0.0
7517  2020-03-01               Yemen        0.0        0.0     0.0
7518  2020-03-01              Zambia        0.0        0.0     0.0
7519  2020-03-01            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7611  2020-03-02        Korea, South      599.0        0.0    11.0
7601  2020-03-02                Iran      523.0      116.0    12.0
7605  2020-03-02               Italy      342.0       66.0    18.0
7556  2020-03-02               China      204.0     2692.0    42.0
7582  2020-03-02              France       61.0        0.0     1.0
...          ...                 ...        ...        ...     ...
7703  2020-03-02  West Bank and Gaza        0.0        0.0     0.0
7704  2020-03-02      Western Sahara        0.0        0.0     0.0
7705  2020-03-02               Yemen        0.0        0.0     0.0
7706  2020-03-02              Zambia        0.0        0.0     0.0
7707  2020-03-02            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7799  2020-03-03        Korea, South      851.0        0.0     0.0
7789  2020-03-03                Iran      835.0        0.0    11.0
7793  2020-03-03               Italy      466.0       11.0    27.0
7744  2020-03-03               China      125.0     2596.0    33.0
7866  2020-03-03               Spain       45.0        0.0     1.0
...          ...                 ...        ...        ...     ...
7891  2020-03-03  West Bank and Gaza        0.0        0.0     0.0
7892  2020-03-03      Western Sahara        0.0        0.0     0.0
7893  2020-03-03               Yemen        0.0        0.0     0.0
7894  2020-03-03              Zambia        0.0        0.0     0.0
7895  2020-03-03            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
7981  2020-03-04               Italy      587.0      116.0    28.0
7977  2020-03-04                Iran      586.0      261.0    15.0
7987  2020-03-04        Korea, South      435.0       11.0     7.0
7932  2020-03-04               China      125.0     2551.0    36.0
7958  2020-03-04              France       84.0        0.0     0.0
...          ...                 ...        ...        ...     ...
8079  2020-03-04  West Bank and Gaza        0.0        0.0     0.0
8080  2020-03-04      Western Sahara        0.0        0.0     0.0
8081  2020-03-04               Yemen        0.0        0.0     0.0
8082  2020-03-04              Zambia        0.0        0.0     0.0
8083  2020-03-04            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
8169  2020-03-05           Italy      769.0      138.0    41.0
8165  2020-03-05            Iran      591.0      187.0    15.0
8175  2020-03-05    Korea, South      467.0        0.0     0.0
8150  2020-03-05         Germany      220.0        0.0     0.0
8120  2020-03-05           China      151.0     2291.0    32.0
...          ...             ...        ...        ...     ...
8266  2020-03-05         Vietnam        0.0        0.0     0.0
8268  2020-03-05  Western Sahara        0.0        0.0     0.0
8269  2020-03-05           Yemen        0.0        0.0     0.0
8270  2020-03-05          Zambia        0.0        0.0     0.0
8271  2020-03-05        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
8353  2020-03-06            Iran     1234.0      174.0    17.0
8357  2020-03-06           Italy      778.0      109.0    49.0
8363  2020-03-06    Korea, South      505.0       94.0     7.0
8334  2020-03-06          France      276.0        0.0     3.0
8338  2020-03-06         Germany      188.0        1.0     0.0
...          ...             ...        ...        ...     ...
8454  2020-03-06         Vietnam        0.0        0.0     0.0
8456  2020-03-06  Western Sahara        0.0        0.0     0.0
8457  2020-03-06           Yemen        0.0        0.0     0.0
8458  2020-03-06          Zambia        0.0        0.0     0.0
8459  2020-03-06        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
8545  2020-03-07           Italy     1247.0       66.0    36.0
8541  2020-03-07            Iran     1076.0      756.0    21.0
8551  2020-03-07    Korea, South      448.0        0.0     2.0
8522  2020-03-07          France      303.0        0.0     2.0
8634  2020-03-07              US      140.0        0.0     3.0
...          ...             ...        ...        ...     ...
8641  2020-03-07       Venezuela        0.0        0.0     0.0
8644  2020-03-07  Western Sahara        0.0        0.0     0.0
8645  2020-03-07           Yemen        0.0        0.0     0.0
8646  2020-03-07          Zambia        0.0        0.0     0.0
8647  2020-03-07        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
8733  2020-03-08               Italy     1492.0       33.0   133.0
8729  2020-03-08                Iran      743.0      465.0    49.0
8739  2020-03-08        Korea, South      273.0       17.0     6.0
8714  2020-03-08             Germany      241.0        0.0     0.0
8710  2020-03-08              France      177.0        0.0     8.0
...          ...                 ...        ...        ...     ...
8831  2020-03-08  West Bank and Gaza        0.0        0.0     0.0
8832  2020-03-08      Western Sahara        0.0        0.0     0.0
8833  2020-03-08               Yemen        0.0        0.0     0.0
8834  2020-03-08              Zambia        0.0        0.0     0.0
8835  2020-03-08            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
8921  2020-03-09           Italy     1797.0      102.0    97.0
8917  2020-03-09            Iran      595.0      260.0    43.0
8994  2020-03-09           Spain      400.0        2.0    11.0
8927  2020-03-09    Korea, South      164.0        0.0     3.0
8902  2020-03-09         Germany      136.0        0.0     2.0
...          ...             ...        ...        ...     ...
9018  2020-03-09         Vietnam        0.0        0.0     0.0
9020  2020-03-09  Western Sahara        0.0        0.0     0.0
9021  2020-03-09           Yemen        0.0        0.0     0.0
9022  2020-03-09          Zambia        0.0        0.0     0.0
9023  2020-03-09        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
9109  2020-03-10           Italy      977.0        0.0   168.0
9105  2020-03-10            Iran      881.0      337.0    54.0
9182  2020-03-10           Spain      622.0        0.0     7.0
9086  2020-03-10          France      575.0        0.0    14.0
9198  2020-03-10              US      376.0        1.0     6.0
...          ...             ...        ...        ...     ...
9205  2020-03-10       Venezuela        0.0        0.0     0.0
9208  2020-03-10  Western Sahara        0.0        0.0     0.0
9209  2020-03-10           Yemen        0.0        0.0     0.0
9210  2020-03-10          Zambia        0.0        0.0     0.0
9211  2020-03-10        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
9297  2020-03-11           Italy     2313.0      321.0   196.0
9293  2020-03-11            Iran      958.0      228.0    63.0
9370  2020-03-11           Spain      582.0      151.0    19.0
9274  2020-03-11          France      499.0        0.0    15.0
9278  2020-03-11         Germany      451.0        7.0     1.0
...          ...             ...        ...        ...     ...
9393  2020-03-11       Venezuela        0.0        0.0     0.0
9396  2020-03-11  Western Sahara        0.0        0.0     0.0
9397  2020-03-11           Yemen        0.0        0.0     0.0
9398  2020-03-11          Zambia        0.0        0.0     0.0
9399  2020-03-11        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date             Country  Confirmed  Recovered  Deaths
9481  2020-03-12                Iran     1075.0        0.0    75.0
9574  2020-03-12                  US      382.0        4.0     5.0
9447  2020-03-12             Denmark      173.0        0.0     0.0
9466  2020-03-12             Germany      170.0        0.0     0.0
9491  2020-03-12        Korea, South      114.0       45.0     6.0
...          ...                 ...        ...        ...     ...
9583  2020-03-12  West Bank and Gaza        0.0        0.0     0.0
9584  2020-03-12      Western Sahara        0.0        0.0     0.0
9585  2020-03-12               Yemen        0.0        0.0     0.0
9586  2020-03-12              Zambia        0.0        0.0     0.0
9587  2020-03-12            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
            Date         Country  Confirmed  Recovered  Deaths
9673  2020-03-13           Italy     5198.0      394.0   439.0
9746  2020-03-13           Spain     2955.0       10.0    78.0
9654  2020-03-13         Germany     1597.0       21.0     4.0
9650  2020-03-13          France     1388.0        0.0    31.0
9669  2020-03-13            Iran     1289.0        0.0    85.0
...          ...             ...        ...        ...     ...
9769  2020-03-13       Venezuela        0.0        0.0     0.0
9772  2020-03-13  Western Sahara        0.0        0.0     0.0
9773  2020-03-13           Yemen        0.0        0.0     0.0
9774  2020-03-13          Zambia        0.0        0.0     0.0
9775  2020-03-13        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]

            Date         Country  Confirmed  Recovered  Deaths
9861  2020-03-14           Italy     3497.0      527.0   175.0
9857  2020-03-14            Iran     1365.0        0.0    97.0
9934  2020-03-14           Spain     1159.0      324.0    62.0
9842  2020-03-14         Germany      910.0        0.0     2.0
9838  2020-03-14          France      815.0        0.0    12.0
...          ...             ...        ...        ...     ...
9956  2020-03-14      Uzbekistan        0.0        0.0     0.0
9960  2020-03-14  Western Sahara        0.0        0.0     0.0
9961  2020-03-14           Yemen        0.0        0.0     0.0
9962  2020-03-14          Zambia        0.0        0.0     0.0
9963  2020-03-14        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
10049  2020-03-15           Italy     3590.0      369.0   368.0
10122  2020-03-15           Spain     1407.0        0.0    94.0
10030  2020-03-15         Germany     1210.0        0.0     2.0
10045  2020-03-15            Iran     1209.0     1631.0   113.0
10127  2020-03-15     Switzerland      841.0        0.0     1.0
...           ...             ...        ...        ...     ...
10140  2020-03-15         Ukraine        0.0        0.0     0.0
10148  2020-03-15  Western Sahara        0.0        0.0     0.0
10149  2020-03-15           Yemen        0.0        0.0     0.0
10150  2020-03-15          Zambia        0.0        0.0     0.0
10151  2020-03-15        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date             Country  Confirmed  Recovered  Deaths
10237  2020-03-16               Italy     3233.0      414.0   349.0
10214  2020-03-16              France     2151.0        0.0    58.0
10310  2020-03-16               Spain     2144.0       13.0    53.0
10218  2020-03-16             Germany     1477.0       21.0     6.0
10326  2020-03-16                  US     1133.0        5.0    26.0
...           ...                 ...        ...        ...     ...
10335  2020-03-16  West Bank and Gaza        0.0        0.0     0.0
10336  2020-03-16      Western Sahara        0.0        0.0     0.0
10337  2020-03-16               Yemen        0.0        0.0     0.0
10338  2020-03-16              Zambia        0.0        0.0     0.0
10339  2020-03-16            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date               Country  Confirmed  Recovered  Deaths
10425  2020-03-17                 Italy     3526.0      192.0   345.0
10406  2020-03-17               Germany     1985.0        0.0     7.0
10498  2020-03-17                 Spain     1806.0      498.0   191.0
10514  2020-03-17                    US     1789.0        0.0    34.0
10421  2020-03-17                  Iran     1178.0      799.0   135.0
...           ...                   ...        ...        ...     ...
10517  2020-03-17  United Arab Emirates        0.0        0.0     0.0
10524  2020-03-17        Western Sahara        0.0        0.0     0.0
10525  2020-03-17                 Yemen        0.0        0.0     0.0
10526  2020-03-17                Zambia        0.0        0.0     0.0
10527  2020-03-17              Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
10613  2020-03-18           Italy     4207.0     1084.0   475.0
10594  2020-03-18         Germany     3070.0       38.0     4.0
10686  2020-03-18           Spain     2162.0       53.0    90.0
10590  2020-03-18          France     1409.0        0.0     0.0
10702  2020-03-18              US     1362.0       88.0    31.0
...           ...             ...        ...        ...     ...
10703  2020-03-18          Uganda        0.0        0.0     0.0
10704  2020-03-18         Ukraine        0.0        0.0     0.0
10712  2020-03-18  Western Sahara        0.0        0.0     0.0
10713  2020-03-18           Yemen        0.0        0.0     0.0
10715  2020-03-18        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
10890  2020-03-19              US     5964.0       16.0    94.0
10801  2020-03-19           Italy     5322.0      415.0   427.0
10874  2020-03-19           Spain     4053.0       26.0   207.0
10782  2020-03-19         Germany     2993.0        8.0    16.0
10778  2020-03-19          France     1846.0        0.0    95.0
...           ...             ...        ...        ...     ...
10891  2020-03-19          Uganda        0.0        0.0     0.0
10900  2020-03-19  Western Sahara        0.0        0.0     0.0
10901  2020-03-19           Yemen        0.0        0.0     0.0
10902  2020-03-19          Zambia        0.0        0.0     0.0
10903  2020-03-19        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
10989  2020-03-20           Italy     5986.0        0.0   627.0
11078  2020-03-20              US     5526.0       26.0    91.0
10970  2020-03-20         Germany     4528.0       67.0    23.0
11062  2020-03-20           Spain     2447.0      481.0   213.0
10966  2020-03-20          France     1788.0        0.0   207.0
...           ...             ...        ...        ...     ...
11079  2020-03-20          Uganda        0.0        0.0     0.0
11085  2020-03-20       Venezuela        0.0        0.0     0.0
11088  2020-03-20  Western Sahara        0.0        0.0     0.0
11089  2020-03-20           Yemen        0.0        0.0     0.0
11090  2020-03-20          Zambia        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
11177  2020-03-21           Italy     6557.0     1632.0   793.0
11266  2020-03-21              US     6327.0       29.0    93.0
11250  2020-03-21           Spain     4964.0      537.0   332.0
11158  2020-03-21         Germany     2365.0       53.0    17.0
11154  2020-03-21          France     1705.0        0.0   112.0
...           ...             ...        ...        ...     ...
11259  2020-03-21        Tanzania        0.0        0.0     0.0
11261  2020-03-21     Timor-Leste        0.0        0.0     0.0
11276  2020-03-21  Western Sahara        0.0        0.0     0.0
11277  2020-03-21           Yemen        0.0        0.0     0.0
11278  2020-03-21          Zambia        0.0        0.0     0.0

[188 rows x 5 columns]
             Date               Country  Confirmed  Recovered  Deaths
11454  2020-03-22                    US     7676.0        2.0   144.0
11365  2020-03-22                 Italy     5560.0      952.0   651.0
11438  2020-03-22                 Spain     3394.0      450.0   397.0
11346  2020-03-22               Germany     2660.0       33.0    10.0
11342  2020-03-22                France     1780.0     2194.0   113.0
...           ...                   ...        ...        ...     ...
11457  2020-03-22  United Arab Emirates        0.0        0.0     0.0
11460  2020-03-22            Uzbekistan        0.0        0.0     0.0
11464  2020-03-22        Western Sahara        0.0        0.0     0.0
11465  2020-03-22                 Yemen        0.0        0.0     0.0
11467  2020-03-22              Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
11642  2020-03-23              US    10567.0        0.0   200.0
11626  2020-03-23           Spain     6368.0        0.0   539.0
11553  2020-03-23           Italy     4789.0        0.0   601.0
11534  2020-03-23         Germany     4183.0        0.0    29.0
11530  2020-03-23          France     3880.0        0.0   186.0
...           ...             ...        ...        ...     ...
11637  2020-03-23     Timor-Leste        0.0        0.0     0.0
11644  2020-03-23         Ukraine        0.0        0.0     0.0
11652  2020-03-23  Western Sahara        0.0        0.0     0.0
11653  2020-03-23           Yemen        0.0        0.0     0.0
11654  2020-03-23          Zambia        0.0        0.0     0.0

[188 rows x 5 columns]
             Date             Country  Confirmed  Recovered  Deaths
11830  2020-03-24                  US     9893.0      170.0   222.0
11741  2020-03-24               Italy     5249.0     1302.0   743.0
11814  2020-03-24               Spain     4749.0     1219.0   497.0
11722  2020-03-24             Germany     3930.0     2977.0    34.0
11718  2020-03-24              France     2499.0     1044.0   240.0
...           ...                 ...        ...        ...     ...
11839  2020-03-24  West Bank and Gaza        0.0        0.0     0.0
11840  2020-03-24      Western Sahara        0.0        0.0     0.0
11841  2020-03-24               Yemen        0.0        0.0     0.0
11842  2020-03-24              Zambia        0.0        0.0     0.0
11843  2020-03-24            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date             Country  Confirmed  Recovered  Deaths
12018  2020-03-25                  US    12042.0       13.0   308.0
12002  2020-03-25               Spain     9630.0     1573.0   839.0
11929  2020-03-25               Italy     5210.0     1036.0   683.0
11910  2020-03-25             Germany     4337.0      304.0    49.0
11906  2020-03-25              France     2978.0      657.0   231.0
...           ...                 ...        ...        ...     ...
12013  2020-03-25         Timor-Leste        0.0        0.0     0.0
12027  2020-03-25  West Bank and Gaza        0.0        0.0     0.0
12028  2020-03-25      Western Sahara        0.0        0.0     0.0
12029  2020-03-25               Yemen        0.0        0.0     0.0
12031  2020-03-25            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date               Country  Confirmed  Recovered  Deaths
12206  2020-03-26                    US    18058.0      320.0   410.0
12190  2020-03-26                 Spain     8271.0     1648.0   718.0
12098  2020-03-26               Germany     6615.0     2126.0    61.0
12117  2020-03-26                 Italy     6203.0      999.0   712.0
12094  2020-03-26                France     3951.0     1048.0   365.0
...           ...                   ...        ...        ...     ...
12207  2020-03-26                Uganda        0.0        0.0     0.0
12209  2020-03-26  United Arab Emirates        0.0        0.0     0.0
12216  2020-03-26        Western Sahara        0.0        0.0     0.0
12217  2020-03-26                 Yemen        0.0        0.0     0.0
12219  2020-03-26              Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
12394  2020-03-27              US    17821.0      188.0   539.0
12378  2020-03-27           Spain     7933.0     2342.0   773.0
12286  2020-03-27         Germany     6933.0      985.0    75.0
12305  2020-03-27           Italy     5909.0      589.0   919.0
12282  2020-03-27          France     3851.0      752.0   299.0
...           ...             ...        ...        ...     ...
12384  2020-03-27           Syria        0.0        0.0     0.0
12386  2020-03-27      Tajikistan        0.0        0.0     0.0
12389  2020-03-27     Timor-Leste        0.0        0.0     0.0
12404  2020-03-27  Western Sahara        0.0        0.0     0.0
12405  2020-03-27           Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
12582  2020-03-28              US    19808.0      203.0   466.0
12566  2020-03-28           Spain     7516.0     2928.0   844.0
12474  2020-03-28         Germany     6824.0     1823.0    91.0
12493  2020-03-28           Italy     5974.0     1434.0   889.0
12470  2020-03-28          France     4703.0       17.0   320.0
...           ...             ...        ...        ...     ...
12574  2020-03-28      Tajikistan        0.0        0.0     0.0
12577  2020-03-28     Timor-Leste        0.0        0.0     0.0
12578  2020-03-28            Togo        0.0        0.0     0.0
12592  2020-03-28  Western Sahara        0.0        0.0     0.0
12593  2020-03-28           Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
12770  2020-03-29              US    19444.0     1593.0   689.0
12754  2020-03-29           Spain     6875.0     2424.0   821.0
12681  2020-03-29           Italy     5217.0      646.0   756.0
12662  2020-03-29         Germany     4400.0      730.0   100.0
12677  2020-03-29            Iran     2901.0      712.0   123.0
...           ...             ...        ...        ...     ...
12766  2020-03-29            Togo        0.0        0.0     0.0
12777  2020-03-29       Venezuela        0.0        0.0     0.0
12780  2020-03-29  Western Sahara        0.0        0.0     0.0
12781  2020-03-29           Yemen        0.0        0.0     0.0
12783  2020-03-29        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]

             Date         Country  Confirmed  Recovered  Deaths
12958  2020-03-30              US    20922.0     2979.0   772.0
12942  2020-03-30           Spain     7846.0     2071.0   913.0
12850  2020-03-30         Germany     4790.0     4289.0   112.0
12846  2020-03-30          France     4462.0      738.0   419.0
12869  2020-03-30           Italy     4050.0     1590.0   812.0
...           ...             ...        ...        ...     ...
12953  2020-03-30     Timor-Leste        0.0        0.0     0.0
12959  2020-03-30          Uganda        0.0        0.0     0.0
12968  2020-03-30  Western Sahara        0.0        0.0     0.0
12969  2020-03-30           Yemen        0.0        0.0     0.0
12971  2020-03-30        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
13146  2020-03-31              US    26341.0     1380.0  1175.0
13130  2020-03-31           Spain     7967.0     2479.0   748.0
13034  2020-03-31          France     7657.0     1549.0   502.0
13038  2020-03-31         Germany     4923.0     2600.0   130.0
13057  2020-03-31           Italy     4053.0     1109.0   837.0
...           ...             ...        ...        ...     ...
13141  2020-03-31     Timor-Leste        0.0        0.0     0.0
13153  2020-03-31       Venezuela        0.0        0.0     0.0
13156  2020-03-31  Western Sahara        0.0        0.0     0.0
13157  2020-03-31           Yemen        0.0        0.0     0.0
13158  2020-03-31          Zambia        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
13334  2020-04-01              US    25070.0     1450.0  1134.0
13318  2020-04-01           Spain     8195.0     3388.0   923.0
13226  2020-04-01         Germany     6064.0     2600.0   145.0
13222  2020-04-01          France     4922.0     1540.0   882.0
13245  2020-04-01           Italy     4782.0     1118.0   727.0
...           ...             ...        ...        ...     ...
13329  2020-04-01     Timor-Leste        0.0        0.0     0.0
13335  2020-04-01          Uganda        0.0        0.0     0.0
13344  2020-04-01  Western Sahara        0.0        0.0     0.0
13345  2020-04-01           Yemen        0.0        0.0     0.0
13347  2020-04-01        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
13522  2020-04-02              US    30380.0      527.0  1420.0
13506  2020-04-02           Spain     7947.0     4096.0   961.0
13414  2020-04-02         Germany     6922.0     3740.0   187.0
13433  2020-04-02           Italy     4668.0     1431.0   760.0
13526  2020-04-02  United Kingdom     4308.0       13.0   652.0
...           ...             ...        ...        ...     ...
13509  2020-04-02        Suriname        0.0        0.0     0.0
13514  2020-04-02      Tajikistan        0.0        0.0     0.0
13517  2020-04-02     Timor-Leste        0.0        0.0     0.0
13532  2020-04-02  Western Sahara        0.0        0.0     0.0
13533  2020-04-02           Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
13710  2020-04-03              US    31745.0      706.0  1325.0
13694  2020-04-03           Spain     7134.0     3770.0   850.0
13602  2020-04-03         Germany     6365.0     2135.0   168.0
13598  2020-04-03          France     5273.0     1587.0  1122.0
13621  2020-04-03           Italy     4585.0     1480.0   766.0
...           ...             ...        ...        ...     ...
13702  2020-04-03      Tajikistan        0.0        0.0     0.0
13705  2020-04-03     Timor-Leste        0.0        0.0     0.0
13720  2020-04-03  Western Sahara        0.0        0.0     0.0
13721  2020-04-03           Yemen        0.0        0.0     0.0
13723  2020-04-03        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
13898  2020-04-04              US    33283.0     4945.0  1609.0
13882  2020-04-04           Spain     6969.0     3706.0   749.0
13790  2020-04-04         Germany     4933.0     1825.0   169.0
13809  2020-04-04           Italy     4805.0     1238.0   681.0
13786  2020-04-04          France     4298.0     1437.0  1054.0
...           ...             ...        ...        ...     ...
13899  2020-04-04          Uganda        0.0        0.0     0.0
13908  2020-04-04  Western Sahara        0.0        0.0     0.0
13909  2020-04-04           Yemen        0.0        0.0     0.0
13910  2020-04-04          Zambia        0.0        0.0     0.0
13911  2020-04-04        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
14086  2020-04-05              US    28152.0     2796.0  1520.0
14090  2020-04-05  United Kingdom     5959.0       14.0   646.0
14070  2020-04-05           Spain     5478.0     3861.0   694.0
13997  2020-04-05           Italy     4316.0      819.0   525.0
13978  2020-04-05         Germany     4031.0     2300.0   140.0
...           ...             ...        ...        ...     ...
14073  2020-04-05        Suriname        0.0        0.0     0.0
14078  2020-04-05      Tajikistan        0.0        0.0     0.0
14081  2020-04-05     Timor-Leste        0.0        0.0     0.0
14097  2020-04-05           Yemen        0.0        0.0     0.0
14099  2020-04-05        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
14274  2020-04-06              US    29515.0     2133.0  1519.0
14258  2020-04-06           Spain     5029.0     2357.0   700.0
14162  2020-04-06          France     3931.0     1079.0   833.0
14278  2020-04-06  United Kingdom     3843.0       58.0   571.0
14185  2020-04-06           Italy     3599.0     1022.0   636.0
...           ...             ...        ...        ...     ...
14266  2020-04-06      Tajikistan        0.0        0.0     0.0
14269  2020-04-06     Timor-Leste        0.0        0.0     0.0
14275  2020-04-06          Uganda        0.0        0.0     0.0
14284  2020-04-06  Western Sahara        0.0        0.0     0.0
14285  2020-04-06           Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
14462  2020-04-07              US    30804.0     2182.0  2297.0
14446  2020-04-07           Spain     5267.0     2771.0   704.0
14354  2020-04-07         Germany     4289.0     7381.0   206.0
14461  2020-04-07          Turkey     3892.0      256.0    76.0
14350  2020-04-07          France     3820.0     2095.0  1417.0
...           ...             ...        ...        ...     ...
14457  2020-04-07     Timor-Leste        0.0        0.0     0.0
14463  2020-04-07          Uganda        0.0        0.0     0.0
14469  2020-04-07       Venezuela        0.0        0.0     0.0
14472  2020-04-07  Western Sahara        0.0        0.0     0.0
14473  2020-04-07           Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
14650  2020-04-08                   US    31533.0     1796.0  2079.0
14634  2020-04-08                Spain     6278.0     4813.0   747.0
14542  2020-04-08              Germany     5633.0    10219.0   333.0
14654  2020-04-08       United Kingdom     5525.0       20.0  1036.0
14649  2020-04-08               Turkey     4117.0      264.0    87.0
...           ...                  ...        ...        ...     ...
14645  2020-04-08          Timor-Leste        0.0        0.0     0.0
14647  2020-04-08  Trinidad and Tobago        0.0        0.0     0.0
14660  2020-04-08       Western Sahara        0.0        0.0     0.0
14661  2020-04-08                Yemen        0.0        0.0     0.0
14662  2020-04-08               Zambia        0.0        0.0     0.0

[188 rows x 5 columns]
             Date             Country  Confirmed  Recovered  Deaths
14838  2020-04-09                  US    34126.0     1851.0  1985.0
14822  2020-04-09               Spain     5002.0     4144.0   655.0
14730  2020-04-09             Germany     4885.0     6107.0   258.0
14842  2020-04-09      United Kingdom     4398.0       14.0  1104.0
14726  2020-04-09              France     4309.0     1961.0  1341.0
...           ...                 ...        ...        ...     ...
14839  2020-04-09              Uganda        0.0        0.0     0.0
14847  2020-04-09  West Bank and Gaza        0.0        0.0     0.0
14848  2020-04-09      Western Sahara        0.0        0.0     0.0
14849  2020-04-09               Yemen        0.0        0.0     0.0
14851  2020-04-09            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
15026  2020-04-10                   US    33755.0     3380.0  2078.0
15030  2020-04-10       United Kingdom     8733.0      229.0  1153.0
15010  2020-04-10                Spain     5051.0     3503.0   634.0
15025  2020-04-10               Turkey     4747.0      281.0    98.0
14914  2020-04-10               France     4372.0     1782.0   987.0
...           ...                  ...        ...        ...     ...
15018  2020-04-10           Tajikistan        0.0        0.0     0.0
15023  2020-04-10  Trinidad and Tobago        0.0        0.0     0.0
15027  2020-04-10               Uganda        0.0        0.0     0.0
15033  2020-04-10            Venezuela        0.0        0.0     0.0
15036  2020-04-10       Western Sahara        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
15214  2020-04-11              US    29861.0     2480.0  2009.0
15218  2020-04-11  United Kingdom     5269.0       34.0   840.0
15213  2020-04-11          Turkey     5138.0      542.0    95.0
15198  2020-04-11           Spain     4754.0     3441.0   525.0
15125  2020-04-11           Italy     4694.0     2079.0   619.0
...           ...             ...        ...        ...     ...
15207  2020-04-11        Tanzania        0.0        0.0     0.0
15209  2020-04-11     Timor-Leste        0.0        0.0     0.0
15210  2020-04-11            Togo        0.0        0.0     0.0
15224  2020-04-11  Western Sahara        0.0        0.0     0.0
15225  2020-04-11           Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
15402  2020-04-12              US    28917.0     1718.0  1744.0
15290  2020-04-12          France    26849.0      806.0   561.0
15406  2020-04-12  United Kingdom     5332.0        4.0   686.0
15401  2020-04-12          Turkey     4789.0      481.0    97.0
15313  2020-04-12           Italy     4092.0     1677.0   431.0
...           ...             ...        ...        ...     ...
15394  2020-04-12      Tajikistan        0.0        0.0     0.0
15395  2020-04-12        Tanzania        0.0        0.0     0.0
15397  2020-04-12     Timor-Leste        0.0        0.0     0.0
15413  2020-04-12           Yemen        0.0        0.0     0.0
15415  2020-04-12        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
15590  2020-04-13                   US    25306.0    10494.0  1784.0
15594  2020-04-13       United Kingdom     4364.0      322.0   745.0
15589  2020-04-13               Turkey     4093.0      511.0    98.0
15478  2020-04-13               France     3682.0      532.0   574.0
15574  2020-04-13                Spain     3268.0     2336.0   547.0
...           ...                  ...        ...        ...     ...
15580  2020-04-13                Syria        0.0        0.0     0.0
15582  2020-04-13           Tajikistan        0.0        0.0     0.0
15587  2020-04-13  Trinidad and Tobago        0.0        0.0     0.0
15600  2020-04-13       Western Sahara        0.0        0.0     0.0
15601  2020-04-13                Yemen        0.0        0.0     0.0

[188 rows x 5 columns]

             Date         Country  Confirmed  Recovered  Deaths
15778  2020-04-14              US    27051.0     4281.0  2392.0
15782  2020-04-14  United Kingdom     5275.0       19.0  1048.0
15666  2020-04-14          France     4971.0      804.0   745.0
15777  2020-04-14          Turkey     4062.0      842.0   107.0
15689  2020-04-14           Italy     2972.0     1695.0   602.0
...           ...             ...        ...        ...     ...
15785  2020-04-14       Venezuela        0.0        0.0     0.0
15788  2020-04-14  Western Sahara        0.0        0.0     0.0
15789  2020-04-14           Yemen        0.0        0.0     0.0
15790  2020-04-14          Zambia        0.0        0.0     0.0
15791  2020-04-14        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
15966  2020-04-15              US    28680.0     4333.0  2472.0
15950  2020-04-15           Spain     5103.0     3349.0   652.0
15970  2020-04-15  United Kingdom     4638.0       45.0   846.0
15965  2020-04-15          Turkey     4281.0      875.0   115.0
15858  2020-04-15         Germany     3394.0     4400.0   510.0
...           ...             ...        ...        ...     ...
15952  2020-04-15           Sudan        0.0        0.0     0.0
15953  2020-04-15        Suriname        0.0        0.0     0.0
15958  2020-04-15      Tajikistan        0.0        0.0     0.0
15976  2020-04-15  Western Sahara        0.0        0.0     0.0
15977  2020-04-15           Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
16154  2020-04-16              US    31242.0     2607.0  2093.0
16042  2020-04-16          France    12490.0     1857.0   753.0
16138  2020-04-16           Spain     7304.0     3944.0   607.0
16153  2020-04-16          Turkey     4801.0     1415.0   125.0
16158  2020-04-16  United Kingdom     4662.0        7.0  1033.0
...           ...             ...        ...        ...     ...
16146  2020-04-16      Tajikistan        0.0        0.0     0.0
16164  2020-04-16  Western Sahara        0.0        0.0     0.0
16165  2020-04-16           Yemen        0.0        0.0     0.0
16166  2020-04-16          Zambia        0.0        0.0     0.0
16167  2020-04-16        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
16342  2020-04-17                   US    32114.0     3842.0  2584.0
16326  2020-04-17                Spain     5891.0        0.0   687.0
16346  2020-04-17       United Kingdom     5624.0       19.0   936.0
16341  2020-04-17               Turkey     4353.0     1542.0   126.0
16308  2020-04-17               Russia     4070.0      286.0    41.0
...           ...                  ...        ...        ...     ...
16337  2020-04-17          Timor-Leste        0.0        0.0     0.0
16339  2020-04-17  Trinidad and Tobago        0.0        0.0     0.0
16349  2020-04-17            Venezuela        0.0        0.0     0.0
16352  2020-04-17       Western Sahara        0.0        0.0     0.0
16353  2020-04-17                Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date               Country  Confirmed  Recovered  Deaths
16530  2020-04-18                    US    32491.0     6295.0  2342.0
16534  2020-04-18        United Kingdom     5545.0       20.0  1118.0
16496  2020-04-18                Russia     4785.0      467.0    40.0
16529  2020-04-18                Turkey     3783.0     1822.0   121.0
16441  2020-04-18                 Italy     3491.0     2200.0   482.0
...           ...                   ...        ...        ...     ...
16525  2020-04-18           Timor-Leste        0.0        0.0     0.0
16528  2020-04-18               Tunisia        0.0        0.0     0.0
16533  2020-04-18  United Arab Emirates        0.0        0.0     0.0
16540  2020-04-18        Western Sahara        0.0        0.0     0.0
16541  2020-04-18                 Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
16718  2020-04-19                   US    26612.0     5497.0  1192.0
16702  2020-04-19                Spain     6948.0     2560.0   410.0
16684  2020-04-19               Russia     6060.0      234.0    48.0
16722  2020-04-19       United Kingdom     5858.0       22.0   499.0
16606  2020-04-19               France     4925.0      595.0   395.0
...           ...                  ...        ...        ...     ...
16710  2020-04-19           Tajikistan        0.0        0.0     0.0
16715  2020-04-19  Trinidad and Tobago        0.0        0.0     0.0
16728  2020-04-19       Western Sahara        0.0        0.0     0.0
16729  2020-04-19                Yemen        0.0        0.0     0.0
16731  2020-04-19             Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
16906  2020-04-20              US    25517.0     1992.0  1714.0
16910  2020-04-20  United Kingdom     4684.0       10.0   565.0
16905  2020-04-20          Turkey     4674.0     1454.0   123.0
16872  2020-04-20          Russia     4268.0      155.0    44.0
16794  2020-04-20          France     2382.0      831.0   547.0
...           ...             ...        ...        ...     ...
16898  2020-04-20      Tajikistan        0.0        0.0     0.0
16913  2020-04-20       Venezuela        0.0        0.0     0.0
16916  2020-04-20  Western Sahara        0.0        0.0     0.0
16917  2020-04-20           Yemen        0.0        0.0     0.0
16919  2020-04-20        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date             Country  Confirmed  Recovered  Deaths
17094  2020-04-21                  US    27539.0     2875.0  2427.0
17060  2020-04-21              Russia     5642.0      427.0    51.0
17093  2020-04-21              Turkey     4611.0     1488.0   119.0
17098  2020-04-21      United Kingdom     4316.0      192.0  1172.0
17078  2020-04-21               Spain     3968.0     1927.0   430.0
...           ...                 ...        ...        ...     ...
17087  2020-04-21            Tanzania        0.0        0.0     0.0
17092  2020-04-21             Tunisia        0.0        0.0     0.0
17103  2020-04-21  West Bank and Gaza        0.0        0.0     0.0
17104  2020-04-21      Western Sahara        0.0        0.0     0.0
17105  2020-04-21               Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
17282  2020-04-22              US    28486.0     2162.0  2326.0
17248  2020-04-22          Russia     5236.0      547.0    57.0
17286  2020-04-22  United Kingdom     4466.0       45.0   847.0
17266  2020-04-22           Spain     4211.0     3401.0   435.0
17193  2020-04-22           Italy     3370.0     2943.0   437.0
...           ...             ...        ...        ...     ...
17272  2020-04-22           Syria        0.0        0.0     0.0
17274  2020-04-22      Tajikistan        0.0        0.0     0.0
17277  2020-04-22     Timor-Leste        0.0        0.0     0.0
17292  2020-04-22  Western Sahara        0.0        0.0     0.0
17293  2020-04-22           Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
17470  2020-04-23              US    28819.0     2837.0  2312.0
17436  2020-04-23          Russia     4774.0      471.0    42.0
17454  2020-04-23           Spain     4635.0     3335.0   440.0
17474  2020-04-23  United Kingdom     4608.0       29.0   729.0
17319  2020-04-23          Brazil     4279.0     1255.0   425.0
...           ...             ...        ...        ...     ...
17462  2020-04-23      Tajikistan        0.0        0.0     0.0
17463  2020-04-23        Tanzania        0.0        0.0     0.0
17465  2020-04-23     Timor-Leste        0.0        0.0     0.0
17481  2020-04-23           Yemen        0.0        0.0     0.0
17483  2020-04-23        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
17658  2020-04-24                   US    36188.0    18876.0  1769.0
17536  2020-04-24              Ecuador    11536.0       38.0    16.0
17642  2020-04-24                Spain    10034.0     3105.0   367.0
17624  2020-04-24               Russia     5849.0      677.0    60.0
17662  2020-04-24       United Kingdom     5394.0       12.0  1013.0
...           ...                  ...        ...        ...     ...
17644  2020-04-24                Sudan        0.0        0.0     0.0
17648  2020-04-24                Syria        0.0        0.0     0.0
17650  2020-04-24           Tajikistan        0.0        0.0     0.0
17655  2020-04-24  Trinidad and Tobago        0.0        0.0     0.0
17668  2020-04-24       Western Sahara        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
17846  2020-04-25              US    32796.0     1293.0  2262.0
17812  2020-04-25          Russia     5966.0      682.0    66.0
17695  2020-04-25          Brazil     5281.0     1505.0   353.0
17850  2020-04-25  United Kingdom     4929.0       50.0   844.0
17806  2020-04-25            Peru     3683.0      301.0    66.0
...           ...             ...        ...        ...     ...
17841  2020-04-25     Timor-Leste        0.0        0.0     0.0
17847  2020-04-25          Uganda        0.0        0.0     0.0
17856  2020-04-25  Western Sahara        0.0        0.0     0.0
17857  2020-04-25           Yemen        0.0        0.0     0.0
17858  2020-04-25          Zambia        0.0        0.0     0.0

[188 rows x 5 columns]
             Date             Country  Confirmed  Recovered  Deaths
18034  2020-04-26                  US    27631.0     6616.0  1126.0
18000  2020-04-26              Russia     6361.0      517.0    66.0
18038  2020-04-26      United Kingdom     4468.0        4.0   420.0
17883  2020-04-26              Brazil     3776.0      992.0   229.0
18033  2020-04-26              Turkey     2357.0     3558.0    99.0
...           ...                 ...        ...        ...     ...
18042  2020-04-26             Vietnam        0.0        0.0     0.0
18043  2020-04-26  West Bank and Gaza        0.0        0.0     0.0
18044  2020-04-26      Western Sahara        0.0        0.0     0.0
18045  2020-04-26               Yemen        0.0        0.0     0.0
18047  2020-04-26            Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date             Country  Confirmed  Recovered  Deaths
18222  2020-04-27                  US    22412.0     4436.0  1338.0
18188  2020-04-27              Russia     6198.0      579.0    47.0
18071  2020-04-27              Brazil     4346.0      990.0   317.0
18226  2020-04-27      United Kingdom     4311.0       29.0   341.0
18110  2020-04-27              France     3743.0      610.0   437.0
...           ...                 ...        ...        ...     ...
18230  2020-04-27             Vietnam        0.0        0.0     0.0
18231  2020-04-27  West Bank and Gaza        0.0        0.0     0.0
18232  2020-04-27      Western Sahara        0.0        0.0     0.0
18233  2020-04-27               Yemen        0.0        0.0     0.0
18234  2020-04-27              Zambia        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
18410  2020-04-28                   US    24385.0     4512.0  2136.0
18376  2020-04-28               Russia     6411.0     1110.0    73.0
18259  2020-04-28               Brazil     5789.0     1402.0   480.0
18414  2020-04-28       United Kingdom     4002.0        6.0   911.0
18298  2020-04-28               France     3090.0     1373.0   367.0
...           ...                  ...        ...        ...     ...
18407  2020-04-28  Trinidad and Tobago        0.0        0.0     0.0
18417  2020-04-28            Venezuela        0.0        0.0     0.0
18420  2020-04-28       Western Sahara        0.0        0.0     0.0
18421  2020-04-28                Yemen        0.0        0.0     0.0
18423  2020-04-28             Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
18598  2020-04-29              US    27327.0     4784.0  2612.0
18447  2020-04-29          Brazil     6450.0     1588.0   430.0
18564  2020-04-29          Russia     5841.0     1830.0   105.0
18602  2020-04-29  United Kingdom     4091.0       44.0   797.0
18597  2020-04-29          Turkey     2936.0     5231.0    89.0
...           ...             ...        ...        ...     ...
18590  2020-04-29      Tajikistan        0.0        0.0     0.0
18593  2020-04-29     Timor-Leste        0.0        0.0     0.0
18606  2020-04-29         Vietnam        0.0        0.0     0.0
18608  2020-04-29  Western Sahara        0.0        0.0     0.0
18611  2020-04-29        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]

             Date         Country  Confirmed  Recovered  Deaths
18786  2020-04-30              US    29515.0    33227.0  2029.0
18635  2020-04-30          Brazil     7502.0     1803.0   493.0
18752  2020-04-30          Russia     7099.0     1333.0   101.0
18790  2020-04-30  United Kingdom     6040.0        2.0   676.0
18746  2020-04-30            Peru     3045.0      368.0   108.0
...           ...             ...        ...        ...     ...
18762  2020-04-30      Seychelles        0.0        0.0     0.0
18773  2020-04-30        Suriname        0.0        0.0     0.0
18776  2020-04-30           Syria        0.0        0.0     0.0
18779  2020-04-30        Tanzania        0.0        0.0     0.0
18796  2020-04-30  Western Sahara        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
18974  2020-05-01              US    34037.0    10068.0  1947.0
18940  2020-05-01          Russia     7933.0     1601.0    96.0
18978  2020-05-01  United Kingdom     6204.0       33.0   741.0
18823  2020-05-01          Brazil     5015.0     2104.0   406.0
18934  2020-05-01            Peru     3483.0      724.0    73.0
...           ...             ...        ...        ...     ...
18967  2020-05-01        Tanzania        0.0        0.0     0.0
18969  2020-05-01     Timor-Leste        0.0        0.0     0.0
18982  2020-05-01         Vietnam        0.0        0.0     0.0
18984  2020-05-01  Western Sahara        0.0        0.0     0.0
18987  2020-05-01        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date             Country  Confirmed  Recovered  Deaths
19162  2020-05-02                  US    29078.0    11367.0  1426.0
19128  2020-05-02              Russia     9623.0     1793.0    53.0
19011  2020-05-02              Brazil     4898.0     2898.0   349.0
19166  2020-05-02      United Kingdom     4815.0        4.0   622.0
19067  2020-05-02               India     2442.0      812.0   100.0
...           ...                 ...        ...        ...     ...
19157  2020-05-02         Timor-Leste        0.0        0.0     0.0
19158  2020-05-02                Togo        0.0        0.0     0.0
19170  2020-05-02             Vietnam        0.0        0.0     0.0
19171  2020-05-02  West Bank and Gaza        0.0        0.0     0.0
19172  2020-05-02      Western Sahara        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
19350  2020-05-03              US    25501.0     4770.0  1313.0
19316  2020-05-03          Russia    10633.0     1626.0    58.0
19199  2020-05-03          Brazil     4726.0     2054.0   290.0
19354  2020-05-03  United Kingdom     4342.0        5.0   315.0
19310  2020-05-03            Peru     3394.0     1116.0    86.0
...           ...             ...        ...        ...     ...
19343  2020-05-03        Tanzania        0.0        0.0     0.0
19345  2020-05-03     Timor-Leste        0.0        0.0     0.0
19360  2020-05-03  Western Sahara        0.0        0.0     0.0
19361  2020-05-03           Yemen        0.0        0.0     0.0
19363  2020-05-03        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
19538  2020-05-04              US    22335.0     7028.0  1240.0
19504  2020-05-04          Russia    10581.0     1456.0    76.0
19387  2020-05-04          Brazil     6794.0     2824.0   316.0
19542  2020-05-04  United Kingdom     3990.0        9.0   289.0
19443  2020-05-04           India     3932.0     1072.0   175.0
...           ...             ...        ...        ...     ...
19531  2020-05-04        Tanzania        0.0        0.0     0.0
19545  2020-05-04       Venezuela        0.0        0.0     0.0
19546  2020-05-04         Vietnam        0.0        0.0     0.0
19548  2020-05-04  Western Sahara        0.0        0.0     0.0
19551  2020-05-04        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
19726  2020-05-05              US    23976.0     2611.0  2142.0
19692  2020-05-05          Russia    10102.0     1770.0    95.0
19575  2020-05-05          Brazil     6835.0     2406.0   571.0
19730  2020-05-05  United Kingdom     4411.0       16.0   692.0
19686  2020-05-05            Peru     3817.0      986.0   100.0
...           ...             ...        ...        ...     ...
19717  2020-05-05         Taiwan*        0.0        0.0     0.0
19719  2020-05-05        Tanzania        0.0        0.0     0.0
19721  2020-05-05     Timor-Leste        0.0        0.0     0.0
19736  2020-05-05  Western Sahara        0.0        0.0     0.0
19739  2020-05-05        Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
19914  2020-05-06                   US    24980.0      119.0  2391.0
19763  2020-05-06               Brazil    11156.0     3149.0   650.0
19880  2020-05-06               Russia    10559.0     1462.0    86.0
19918  2020-05-06       United Kingdom     6116.0        8.0   649.0
19874  2020-05-06                 Peru     3628.0     2114.0    89.0
...           ...                  ...        ...        ...     ...
19909  2020-05-06          Timor-Leste        0.0        0.0     0.0
19911  2020-05-06  Trinidad and Tobago        0.0        0.0     0.0
19922  2020-05-06              Vietnam        0.0        0.0     0.0
19924  2020-05-06       Western Sahara        0.0        0.0     0.0
19927  2020-05-06             Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
20102  2020-05-07                   US    27692.0     5126.0  2207.0
20068  2020-05-07               Russia    11231.0     2476.0    88.0
19951  2020-05-07               Brazil     9162.0     3980.0   602.0
20106  2020-05-07       United Kingdom     5618.0       36.0   539.0
20062  2020-05-07                 Peru     3709.0      861.0    94.0
...           ...                  ...        ...        ...     ...
20095  2020-05-07             Tanzania        0.0        0.0     0.0
20099  2020-05-07  Trinidad and Tobago        0.0        0.0     0.0
20112  2020-05-07       Western Sahara        0.0        0.0     0.0
20113  2020-05-07                Yemen        0.0        0.0     0.0
20115  2020-05-07             Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
20290  2020-05-08                   US    26906.0     3957.0  1518.0
20139  2020-05-08               Brazil    11121.0     3947.0   827.0
20256  2020-05-08               Russia    10699.0     2805.0    98.0
20294  2020-05-08       United Kingdom     4652.0       27.0   627.0
20195  2020-05-08                India     3344.0     1111.0    96.0
...           ...                  ...        ...        ...     ...
20277  2020-05-08             Suriname        0.0        0.0     0.0
20285  2020-05-08          Timor-Leste        0.0        0.0     0.0
20287  2020-05-08  Trinidad and Tobago        0.0        0.0     0.0
20291  2020-05-08               Uganda        0.0        0.0     0.0
20300  2020-05-08       Western Sahara        0.0        0.0     0.0

[188 rows x 5 columns]
             Date             Country  Confirmed  Recovered  Deaths
20478  2020-05-09                  US    25621.0    13541.0  1615.0
20444  2020-05-09              Russia    10817.0     5308.0   104.0
20327  2020-05-09              Brazil     9167.0     2388.0   639.0
20482  2020-05-09      United Kingdom     3896.0        4.0   346.0
20438  2020-05-09                Peru     3168.0     1234.0   100.0
...           ...                 ...        ...        ...     ...
20473  2020-05-09         Timor-Leste        0.0        0.0     0.0
20486  2020-05-09             Vietnam        0.0        0.0     0.0
20487  2020-05-09  West Bank and Gaza        0.0        0.0     0.0
20488  2020-05-09      Western Sahara        0.0        0.0     0.0
20489  2020-05-09               Yemen        0.0        0.0     0.0

[188 rows x 5 columns]
             Date         Country  Confirmed  Recovered  Deaths
20666  2020-05-10              US    19710.0     3635.0   731.0
20632  2020-05-10          Russia    11012.0     2390.0    88.0
20515  2020-05-10          Brazil     6638.0     3272.0   467.0
20571  2020-05-10           India     4353.0     1668.0   111.0
20670  2020-05-10  United Kingdom     3924.0        1.0   268.0
...           ...             ...        ...        ...     ...
20658  2020-05-10      Tajikistan        0.0        0.0     0.0
20659  2020-05-10        Tanzania        0.0        0.0     0.0
20661  2020-05-10     Timor-Leste        0.0        0.0     0.0
20674  2020-05-10         Vietnam        0.0        0.0     0.0
20676  2020-05-10  Western Sahara        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
20854  2020-05-11                   US    18621.0    16564.0  1156.0
20820  2020-05-11               Russia    11656.0     5495.0    94.0
20703  2020-05-11               Brazil     6895.0     2427.0   530.0
20858  2020-05-11       United Kingdom     3883.0       13.0   211.0
20759  2020-05-11                India     3607.0     1580.0    82.0
...           ...                  ...        ...        ...     ...
20849  2020-05-11          Timor-Leste        0.0        0.0     0.0
20851  2020-05-11  Trinidad and Tobago        0.0        0.0     0.0
20855  2020-05-11               Uganda        0.0        0.0     0.0
20866  2020-05-11               Zambia        0.0        0.0     0.0
20867  2020-05-11             Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
21042  2020-05-12                   US    21495.0     2446.0  1674.0
21008  2020-05-12               Russia    10899.0     3711.0   107.0
20891  2020-05-12               Brazil     8620.0     5213.0   808.0
20947  2020-05-12                India     3524.0     1871.0   121.0
21046  2020-05-12       United Kingdom     3409.0        8.0   628.0
...           ...                  ...        ...        ...     ...
21035  2020-05-12             Tanzania        0.0        0.0     0.0
21037  2020-05-12          Timor-Leste        0.0        0.0     0.0
21039  2020-05-12  Trinidad and Tobago        0.0        0.0     0.0
21052  2020-05-12       Western Sahara        0.0        0.0     0.0
21055  2020-05-12             Zimbabwe        0.0        0.0     0.0

[188 rows x 5 columns]
             Date              Country  Confirmed  Recovered  Deaths
21230  2020-05-13                   US    21030.0    13143.0  1763.0
21079  2020-05-13               Brazil    11923.0     5827.0   779.0
21196  2020-05-13               Russia    10028.0     4491.0    96.0
21190  2020-05-13                 Peru     4247.0     1000.0   112.0
21135  2020-05-13                India     3763.0     1980.0   136.0
...           ...                  ...        ...        ...     ...
21225  2020-05-13          Timor-Leste        0.0        0.0     0.0
21227  2020-05-13  Trinidad and Tobago        0.0        0.0     0.0
21237  2020-05-13            Venezuela        0.0        0.0     0.0
21238  2020-05-13              Vietnam        0.0        0.0     0.0
21240  2020-05-13       Western Sahara        0.0        0.0     0.0

[188 rows x 5 columns]

             Date              Country  Confirmed  Recovered  Deaths
36     2020-01-22                China      548.0       28.0    17.0
87     2020-01-22                Japan        2.0        0.0     0.0
168    2020-01-22             Thailand        2.0        0.0     0.0
91     2020-01-22         Korea, South        1.0        0.0     0.0
165    2020-01-22              Taiwan*        1.0        0.0     0.0
...           ...                  ...        ...        ...     ...
21225  2020-05-13          Timor-Leste        0.0        0.0     0.0
21227  2020-05-13  Trinidad and Tobago        0.0        0.0     0.0
21237  2020-05-13            Venezuela        0.0        0.0     0.0
21238  2020-05-13              Vietnam        0.0        0.0     0.0
21240  2020-05-13       Western Sahara        0.0        0.0     0.0

[21244 rows x 5 columns]

In [68]:
sorteddata

             Date              Country  Confirmed  Recovered  Deaths
36     2020-01-22                China      548.0       28.0    17.0
87     2020-01-22                Japan        2.0        0.0     0.0
168    2020-01-22             Thailand        2.0        0.0     0.0
91     2020-01-22         Korea, South        1.0        0.0     0.0
165    2020-01-22              Taiwan*        1.0        0.0     0.0
...           ...                  ...        ...        ...     ...
21225  2020-05-13          Timor-Leste        0.0        0.0     0.0
21227  2020-05-13  Trinidad and Tobago        0.0        0.0     0.0
21237  2020-05-13            Venezuela        0.0        0.0     0.0
21238  2020-05-13              Vietnam        0.0        0.0     0.0
21240  2020-05-13       Western Sahara        0.0        0.0     0.0

[21244 rows x 5 columns]

In [70]:
sorteddata.to_csv("../COVID-19 Data/covid_daily.csv")